<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Nếu bạn quên mật khẩu, hãy yên tâm, 2WAYS sẽ giúp bạn.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/auth/forgot.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-small-title', {
        title: "Quên mật khẩu",
        help: "Bạn cần sự trợ giúp?"
    }) %>

	<main class="content-container">
		<section class="forgotPassword">
			<h1 class="forgotPassword__title">Nhận liên kết đặt lại mật khẩu</h1>
			<form class="forgotPassword__form form" id="forgotPasswordPost" action="post">
				<div class="row">
					<label for="form__email" class="form-label">
						Email
						<p class="form-text forgotPassword__note">Nhập email bạn đã đăng ký để nhận liên kết đặt lại mật khẩu.</p>
					</label>
					<input type="email" name="email" class="form-control form__email" id="form__email" placeholder="Nhập email">
				</div>
				<div class="error-message" id="error-message"></div>

				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button type="submit" class="btn form__submit">Gửi</button>
				</div>
			</form>
		</section>
	</main>

	<%- include('../../partials/footer') %>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="/scripts/partials/header-small-title.js"></script>
	<script src="/scripts/auth/forgot.js"></script>

</body>

</html>