@import url('/styles/base.css');
@import url("/styles/partials/header-small.css");

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--black);
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 100%;
    max-width: 1152px;
    margin: 12px auto;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid var(--outline-variant);
    border-radius: 12px;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

.main-content {
    width: 60%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.cancel-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cancel-status span {
    font-size: 28px;
    font-weight: 600;
    color: var(--green);
}

.cancel-description {
    display: inherit;
    flex-direction: column;
    width: 90%;
}

.cancel-description__item {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.cancel__button {
    display: inline-flex;
    gap: 15px;
    margin: 20px 0 0 0;
    /* padding-left: 13px; */
}

a.cancel__button--submit1:hover {
    color: var(--white);
}

a.cancel__button--submit2:hover {
    color: var(--primary-color-4);
}

.cancel__button--submit1 {
    width: 96px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--primary-color-4);
    color: var(--white);
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cancel__button--submit2 {
    width: 180px;
    height: 48px;
    border-radius: 8px;

    font-size: 16px;
    color: var(--primary-color-4);
    background-color: var(--white);
    border: 1px solid var(--primary-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cancel__button--submit1:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.cancel__button--submit2:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.extend-content {
    display: flex;
    justify-content: stretch;
    width: 450px;
    flex-direction: column;
    gap: 24px;
    border-radius: 10px;
    background: var(--white);
    border: 1px solid var(--outline-variant);
}

.extend-content h2 {
    padding: 21px 100px 15px 23px;
    border-radius: 10px 10px 0px 0px;
    background: #f5f5f5;
}

.cancel-summary__content {
    display: inherit;
    flex-direction: column;
    gap: 10px;
}

.cancel-summary__item {
    display: inherit;
    flex-direction: column;
    gap: 16px;
    padding-left: 23px;
}

.cancel-summary__item img {
    width: 15%;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.hotel-detail {
    display: flex;
    gap: 15px;
}

.rating p {
    color: var(--primary-color-2);
    font-size: 20px;
    font-weight: 600;
}

.rating span {
    color: var(--primary-color-4);
    font-variation-settings: "FILL" 1;
}

.cancel-summary__content--title {
    font-weight: 500;
}

.cancel-summary__content--text {
    font-weight: 700;
    text-decoration: line-through;
}

.total-price {
    display: inline-flex;
    align-items: center;
    padding: 18px 13px;
    /* gap: 120px; */
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    background: #e7fde9;
}

.total-price h3 {
    font-weight: 400;
}

.total-price p {
    font-size: 20px;
    font-weight: 600;
    color: var(--green);
}