@import url("/styles/base.css");
@import url("/styles/components/cancel-popup.css");
@import url("/styles/components/review-popup.css");
@import url("/styles/components/success-popup.css");

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
}
@import url("/styles/partials/header-small.css");
@import url("/styles/partials/footer.css");

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    padding: 24px;
    border: 1px solid var(--outline-variant);
    border-radius: 12px;
}

p,
h1,
h2,
h3,
hr {
    margin: 0;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--link);
}

.title {
    display: inherit;
    gap: 12px;
}

.title__rating {
    display: flex;
    align-items: center;
    color: var(--primary-color-4);
    font-variation-settings: 'FILL' 1;
}

.detail {
    display: inherit;
    border: 1px solid var(--outline-variant);
    border-radius: 12px;
}

.detail__col-1,
.detail__col-2,
.detail__col-3 {
    display: inherit;
    flex-direction: column;
    gap: 12px;
    padding: 12px;

}

.detail__col-1 {
    width: 45%;
}

.detail__col-2 {
    width: 30%;
    border-left: 1px solid var(--outline-variant);
    border-right: 1px solid var(--outline-variant);
}

.detail__col-3 {
    width: 25%;
}

.detail__col-1 img {
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.detail__location {
    display: flex;
    justify-content: space-between;
}

.detail__contact,
.detail__help {
    display: inherit;
    flex-direction: column;
    gap: 8px;
}

.detail__btn {
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    display: inherit;
    gap: 12px;
    background-color: var(--primary-color-4);
    font-size: 0.875rem;
    color: var(--white)
}

.detail__btn:hover {
    color: var(--white);
}

.detail__contact button {
    width: 200px;
}

.detail__help div {
    display: inherit;
    gap: 12px;
}

.detail__help div span {
    font-size: 1.75rem;
}

.detail__code,
.detail__checkin,
.detail__checkout,
.detail__price {
    display: inherit;
    flex-direction: column;
    gap: 8px;
}

.detail__code div {
    display: inherit;
    gap: 12px;
}

.price__strong {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color-4);
}

.abort {
    display: inherit;
    justify-content: space-between;
}

.abort__info,
.abort__progress {

    display: inherit;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.abort__info {
    width: 30%;
}

.abort__info h2 {
    color: var(--green);
}

.abort__time-left {
    font-weight: 500;
}

.abort__highlight {
    font-weight: 700;
    color: var(--primary-color-2);
}

.abort__progress {
    width: 40%;
}

.progress__title {
    display: inherit;
    justify-content: space-around;
    font-weight: 600;
}

.progress-bar {
    background-color: var(--green);
}

.progress__time {
    font-weight: 600;
}


.modal-content {
    gap: 36px;
    align-items: center;
    padding: 36px 36px 64px 36px;
    border-radius: 12px;
}

.modal-content div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal-content div button {
    font-size: 1rem;
}

.modal-content span,
.modal-content p {
    color: var(--error);
}

.modal-content span {
    font-size: 10rem;
    font-variation-settings: 'FILL' 1;
}

.modal-content p {
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: 'FILL' 1;
}