@import url('/styles/base.css');
@import url("/styles/partials/header-small.css");

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 80%;
    max-width: 1152px;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    box-sizing: border-box;
    padding: 24px;
    border: 1px solid var(--outline-variant);
    border-radius: 12px;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

.main-content {
    width: 65%;
    display: inherit;
    flex-direction: column;
    gap: 24px;
}

.order-status {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.order-status div {
    display: inherit;
    gap: 12px;
    color: var(--green);
}

.order-description {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.order-description__item {
    display: flex;
    gap: 12px;
}

.order-description__item span {
    color: var(--primary-color-1);
}

.order-save {
    display: inherit;
    justify-content: flex-start;
    gap: 24px;
}

.order-btn {
    width: max-content;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    display: inherit;
    gap: 12px;
    background-color: #fe9c0b;
    font-size: 0.875rem;
    color: var(--white);
    border: none;
}

a.order-btn {
    width: 25%;
    text-indent: 8px;
}

.order-btn:hover {
    color: white;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.order-summary {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.order-summary__item {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid var(--outline-variant);
    border-radius: 8px;
}

.order-summary__item img {
    width: 20%;
    object-fit: cover;
    border-radius: 4px;
}

.order-summary__content {
    display: inherit;
    flex-direction: column;
}

.order-summary__item div {
    display: flex;
    gap: 8px;
    font-size: 0.875rem;
}

.order-summary__item div span {
    color: var(--primary-color-1);
}

.order-summary__item button {
    width: 120px;
}

.extend-content {
    display: inherit;
    flex-direction: column;
    gap: 24px;
}

.order-code,
.extend-content__app {
    display: inherit;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid var(--outline-variant);
    border-radius: 8px;
}

.order-code div {
    display: inherit;
    gap: 12px;
}

.extend-content__app button {
    width: 110px;
}

.modal-content {
    gap: 36px;
    align-items: center;
    padding: 36px 36px 64px 36px;
    border-radius: 12px;
}

.modal-content div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal-content div button {
    font-size: 1rem;
}

.modal-content span,
.modal-content p {
    color: var(--error);
}

.modal-content span {
    font-size: 10rem;
    font-variation-settings: 'FILL' 1;
}

.modal-content p {
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: 'FILL' 1;
}

a {
    text-decoration: none;
}