:root {
  --primary: #00696D;
  --secondary: #FE9C0B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.primary {
  background-color: var(--primary);
}

.primary-text {
  color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.secondary-text {
  color: var(--secondary);
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-64 {
  margin-top: 64px;
}

.container {
  width: 100%;
  max-width: 1152px;
  margin: auto;
}

header, footer {
  background: red;
  height: 200px;
}

button {
  cursor: pointer;
  height: 48px;
  display: inline-block;
  padding: 0;
  border-radius: 8px;

  & .status-layer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    border-radius: inherit;

    & span {
      font-weight: bold;
      margin: auto;
    }
  }
}

button.btn--filled {
  background-color: var(--primary);
  color: white;
  border: none;

  &:hover .status-layer{
    background-color: rgba(0, 0, 0, 0.2);
  }
}

button.btn--filled.sec {
  background-color: var(--secondary);
}