:root {
    --primary-color: #085457;
    --white: #ffffff;
    --third-color: #90a6b1;
    --fouth-color: #fe9c0b;
<<<<<<< HEAD
    --green-gradient: linear-gradient(90deg, #085457 26.88%, #2B8184 59.54%, #59BDC0 92.89%);
=======
    --outline-variant: #BEC8C9;
    --link: #0d6efd;
    --green-gradient: linear-gradient(90deg, #085457 27%, #2B8184 60%, #59BDC0 93%);
>>>>>>> f8561ccd3654f72effe7f64b301268d5863f3391
    --green: #119726;
}