@import url("/styles/base.css");
@import url("/styles/partials/header-medium.css");
@import url("/styles/components/room-in-hs.css");
@import url("/styles/partials/footer.css");
@import url("/styles/components/review-popup.css");
@import url("/styles/components/next-page.css");
@import url("/styles/components/success-popup.css");
@import url("/styles/partials/nav-tree.css");

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--black);
}

body {
    width: 100vw;
}

.booking-history-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1152px;
    display: flex;
    gap: 12px;
}

.aside-content {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--outline-variant);
    background: var(--white);
    align-self: flex-start;
}

.aside-content__profile {
    display: flex;
    align-items: center;
    gap: 12px;
}
.aside-content__detail-bold {
    font-weight: 500;
    margin: 12px 0 0 0;
}

.aside-content__section {
    font-weight: 500;
}

.aside-content__section p {
    padding: 12px;
    height: 48px;
    margin-bottom: 12px;
    cursor: pointer;
}

.aside-content__section p:hover,
.logout-btn:hover {
    border-radius: 8px;
    background-color: var(--gray);
    transition: 0.3s;
    cursor: pointer;
}

.aside-content__section p:nth-child(2) {
    background-color: var(--primary-color-1);
    color: var(--white);
    border-radius: 8px;
}

.aside-content__img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.aside-content__item p {
    color: var(--red);
    font-weight: 500;
    margin: 12px;
    cursor: pointer;
}

.booking-history {
    padding: 24px;
    border: 1px solid var(--outline-variant);
    border-radius: 8px;
    width: 75%;
}

.booking-history__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileBtn,
.historyBtn,
.accountPaymentBtn,
.changePasswordBtn,
.logoutBtn {
    cursor: pointer;
}
