footer {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--light-gray);
}

.footer-container {
	width: 80%;
	max-width: 1152px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer-container__contact {
	width: 27%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0;
}

.footer-container__contact p {
	margin: 0;
}

.footer-container__intro {
	display: flex;
	gap: 12px;
	flex-direction: column;
	padding: 0;
}

.footer-container__contact h3,
.footer-container__about h3,
.footer-container__update h3,
.footer-container__policy h3 {
	/* font-size: 1.375rem; */
	margin: 0;
}

.footer-container__contact-social {
	display: flex;
	gap: 12px;
	list-style-type: none;
	padding: 0;
}

.contact-social__logo {
	width: 24px;
	height: 24px;
}

.footer-container__about {
	width: 13%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0;
}

.footer-container__about li {
	margin: 0;
}

.footer-container__about a {
	text-decoration: none;
	color: var(--black);
}

.footer-container__about a:hover {
	text-decoration: none;
	color: var(--primary-color-3);
}

.footer-container__about-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 12px;
	list-style-type: none;
	margin: 0;
}

.footer-container__policy {
	width: 14%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0;
}

.footer-container__policy a {
	text-decoration: none;
	color: var(--black);
}

.footer-container__policy a:hover {
	text-decoration: none;
	color: var(--primary-color-3);
}

.footer-container__policy-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 12px;
	list-style-type: none;
	margin: 0;

	&>li {
		margin: 0;
	}
}

.footer-container__policy-list li {
	white-space: nowrap;
}

.footer-container__update {
	width: 33%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0;
}

.footer-container__update p {
	margin: 0;
}

.footer-container__update form {
	display: flex;
	gap: 12px;
	justify-content: space-between;
}

.update__input-field {
	width: 65%;
	height: 48px;
	padding: 0 16px;
	border-radius: 8px;
}

.footer-container__form {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.footer-container__form span {
	white-space: nowrap;
}