@import url("./header.css");

.header-container {
    position: relative;
}

.header-container__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
    margin: 0;
}

.header-container__img {
    cursor: pointer;
}

.header-container__help {
    font-size: 1.375rem;
    color: var(--white);
    cursor: pointer;
}

/* .space {
    width: 100%;
    height: 112px;
} */