@import url("/styles/base.css");
@import url("/styles/components/search-bar.css");

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-image: url(/imgs/bg-header.png);
  height: 484px;
  position: no-repeat;
  position: contain;
  background-color: #085457;
  top: 0;
}

.container__header {
  width: 80%;
  height: 484px;
  max-width: 1152px;
}

.container__header--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  align-self: stretch;
  width: 100%;
  margin-top: 24px;
}

.container__header--top img {
  width: 167.652px;
  height: 48px;
}

.container__nav--top {
  width: 656px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 48px;
}

.container__nav--top a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.top-authenticator {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Header with no login*/
.top-authenticator button {
  width: 128px;
  height: 48px;
  background-color: #ffffff;
  color: #085457;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border-style: none;

  &:hover {
    box-shadow:
      0 1px 3px 1px rgba(0, 0, 0, 0.2),
      0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
}

.top-authenticator .button-signup {
  color: #ffffff;
  background-color: #fe9c0b;
  margin: 4px;

  &:hover {
    box-shadow:
      0 1px 3px 1px rgba(0, 0, 0, 0.2),
      0 0 2px 0 rgba(0, 0, 0, 0.2);
  }
}

/* Header with login*/
.top-authenticator {
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-authenticator img {
  width: 64px;
  height: 64px;
  margin: 0 5px;
  border-radius: 100%;
}

.top-authenticator p {
  margin: 0 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.header--title {
  margin-top: 64px;
}

.header--title h1 {
  color: white;
  font-size: 57px;
  font-weight: 700;
  line-height: 64px;
  word-wrap: break-word;
}

.header--title h3 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  color: white;
}