* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 500;
}

header {
    position: fixed;
    width: 100%;
    background-color: #085457;
    height: 112px;
}

.container {
    max-width: 1152px;
    height: 112px;
}

.container__header--top {
    display: flex;
    max-width: 1152px;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    align-self: stretch;
    margin-top: 24px;
}

.container__header--top img {
    display: flex;
    width: 167.652px;
    height: 48px;
    /* justify-content: center;
align-items: center; */
}

.container__nav--top {
    width: 656px;
    /* height: 48px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container__nav--top ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 0; */
}

.container__nav--top ul li {
    display: inline;
    margin: 0 24px;
    padding-top: 15px;
}

.container__nav--top ul li a {
    font-size: 24px;
    font-family: Roboto;
    font-weight: 600;
}

.container__nav--top a {
    color: #ffffff;
}

.top-authenticator {
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-authenticator p {
    margin: 0 5px;
    font-size: 22px;
    font-family: Roboto;
    line-height: 32px;
}