.container--nav-tree {
	width: 80%;
	max-width: 1152px;
	padding: 0;
	margin: auto;
}

.nav-tree {
	height: 48px;
	width: 100%;
	display: flex;
	align-items: center;

	& ul {
		display: flex;
		flex-direction: row;
		gap: 8px;
		width: 100%;

		padding: 0;
		margin: 0;

		& li {
			display: inline;
			padding: 0;
			list-style-type: none;

			&:not(:last-child)::after {
				content: ">";
				padding-left: 8px;
			}

			&:last-child {
				font-weight: bold;
			}

			& a {
				text-decoration: none;
				color: var(--color-text);
			}
		}
	}
}