.modal {
    overflow-y: hidden;
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.account {
    height: 457px;
    width: 840px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 32px;
    text-align: left;
    padding-bottom: 35px;
}

.account-container {
    /* padding: 160px; */
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modalFadeIn ease 0.5s;
}

.account__card {
    /* width: 764px;
  height: 391px; */
    text-align: left;
    background-color: var(--white);
    border-radius: 8px;
    padding: 32px 38px 34px 38px;
    box-shadow: 0 10px 40px -20px var(--black);
    box-shadow: 0 10px 40px -20px var(--black);
    position: relative;
}

.account__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account__item {
    display: flex;
    gap: 25px;
    padding: 10px 0;
    align-items: center;
    width: 100%;
}

.form-control:disabled::placeholder {
    color: var(--black);
    color: var(--black);
}

.account__item h2 {
    width: 189px;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
}

.account__item--notice {
    width: 189px;
    font-size: 22px;
    margin: -10px 0;
}

.account__item--notice p {
    font-size: 14px;
    text-align: right;
}

.account__item input {
    width: 526px;
    height: 48px;
}

.account__item select {
    width: 526px;
    height: 48px;
}

.form-control:disabled {
    border: none;
    background-color: var(--white);
    background-color: var(--white);
}

.form-control.unfilled:disabled::placeholder {
    border: none;
    background-color: var(--white);
    color: var(--outline-variant);
    background-color: var(--white);
    color: var(--outline-variant);
}

.account__button {
    display: inline-flex;
    gap: 13px;
    padding-left: 522px;
    margin: 18px 0 0 0;
}

.form-button--submit1 {
    width: 96px;
    height: 48px;
    border-radius: 8px;
    color: var(--primary-color-4);
    background-color: var(--white);
    border: 1px solid var(--primary-color-4);
    font-size: 16px;
}

.form-button--submit2 {
    width: 131px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--primary-color-4);
    color: var(--white);
    background-color: var(--primary-color-4);
    color: var(--white);
    border: none;
    font-size: 16px;
}

.account__btn-close {
    position: absolute;
    top: 16px;
    right: 19px;
}

.account__btn-close:hover {
    cursor: pointer;
}

.account__btn-close span {
    color: var(--primary-color-2);
}

.account__button:hover {
    opacity: 0.9;
}

.account__button[disabled] {
    opacity: 0.6;
    cursor: default;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}