.account {
	height: 457px;
	width: 840px;
	box-sizing: border-box;
}

h1 {
	margin: 0;
	font-size: 32px;
	text-align: left;
	padding-bottom: 35px;
}

.account-container {
	padding: 160px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
}

.account__card {
	text-align: left;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 32px 38px 34px 38px;
	box-shadow: 0 10px 40px -20px black;
	position: relative;
}

.form--items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form--item {
	display: flex;
	gap: 25px;
	padding: 10px 0;
	align-items: center;
}

.form-control:disabled::placeholder {
	color: black;
}

.form--item h2 {
	width: 189px;
	font-size: 22px;
	display: flex;
	justify-content: flex-end;
	padding-top: 8px;
}

.form--item--notice {
	width: 189px;
	font-size: 22px;
	margin: -10px 0;
}

.form--item--notice p {
	font-size: 14px;
	text-align: right;
}

.form--item input {
	width: 526px;
	height: 48px;
}

.form--item select {
	width: 526px;
	height: 48px;
}

.form-control:disabled {
	border: none;
	background-color: white;
}

.form-control.unfilled:disabled::placeholder {
	border: none;
	background-color: white;
	color: #bec8c9;
}

.account__button {
	display: inline-flex;
	gap: 13px;
	padding-left: 522px;
	margin: 18px 0 0 0;
}

.account__button--submit1 {
	width: 96px;
	height: 48px;
	border-radius: 8px;
	color: #fe9c0b;
	background-color: white;
	border: 1px solid #fe9c0b;
	font-size: 16px;
}

.account__button--submit2 {
	width: 131px;
	height: 48px;
	border-radius: 8px;
	background-color: #fe9c0b;
	color: white;
	border: none;
	font-size: 16px;
}

.account__close--btn {
	position: absolute;
	top: 16px;
	right: 19px;
}

.account__close--btn span {
	color: #00696d;
}

.account__button:hover {
	opacity: 0.9;
}

.account__button[disabled] {
	opacity: 0.6;
	cursor: default;
}