.modal2 {
    position: fixed;
    display: none;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.credit {
    height: 810px;
    width: 840px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 32px;
    text-align: left;
    padding-bottom: 35px;
}

h2 {
    font-size: 24px;
    padding-top: 40px;
}

.credit-container {
    /* padding: 160px; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modalFadeIn ease 0.5s;
}

.credit__card {
    /* width: 764px;
    height: 391px; */
    text-align: left;
    background-color: var(--white);
    background-color: var(--white);
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 10px 40px -20px var(--black);
    box-shadow: 0 10px 40px -20px var(--black);
    position: relative;
    overflow-y: visible;
}

.credit__card  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.credit__secure {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 15px;
    padding: 20px 7px;
    background: #f1fff3;
}

.credit__icon span {
    font-size: 85px;
    color: var(--green);
    color: var(--green);
}

.credit__info-title {
    font-size: 22px;
    margin: 0;
}

.credit__info-text {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
}

.credit__details {
    display: flex;
    align-items: end;
    gap: 450px;
}

.form__item {
    display: flex;
    gap: 12px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
}

.form__item-2__date,
.form__item-2__CCV {
    display: flex;
    gap: 12px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form__item-2__date h3,
.form__item-2__CCV h3 {
    display: block;
    /* min-width: 40px; */
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    white-space: nowrap;
}

/* .form__item-2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    width: 700px;
} */

.form__item h3 {
    display: block;
    /* width: 20%; */
    min-width: 191px;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.form__item-2 h3 {
    /* width: 189px; */
    font-size: 22px;
    display: flex;
    /* min-width: 191px; */
    justify-content: flex-end;
    padding-top: 8px;
    padding: 10px;
}

.input-1 {
    width: 191px;
}

.form__item-2__CCV .input-2 {
    width: 100px;
}

.form__item input {
    display: flex;
    /* justify-content: stretch; */
    justify-content: flex-end;
    height: 48px;
    max-width: 587px;
}

.form__item-2 input {
    /* width: 230px; */
    display: flex;
    justify-content: stretch;
    height: 48px;
}

.from__item-2__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.from__item-2__CCV {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__item select {
    width: 526px;
    height: 48px;
}

.credit__button {
    display: inline-flex;
    gap: 11px;
    padding-left: 551px;
    margin: 18px 0 0 0;
}

.credit-button--submit1 {
    width: 96px;
    height: 48px;
    border-radius: 8px;
    color: var(--primary-color-4);
    background-color: var(--white);
    border: 1px solid var(--primary-color-4);
    color: var(--primary-color-4);
    background-color: var(--white);
    border: 1px solid var(--primary-color-4);
    font-size: 16px;
}

.credit-button--submit2 {
    width: 131px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--primary-color-4);
    color: var(--white);
    background-color: var(--primary-color-4);
    color: var(--white);
    border: none;
    font-size: 16px;
}

.credit__close-btn {
    position: absolute;
    top: 16px;
    right: 19px;
}


.credit__close-btn:hover {
    cursor: pointer;
}

.credit__close-btn span {
    color: var(--primary-color-2);
}

.credit__button:hover {
    opacity: 0.9;
}

.credit__button[disabled] {
    opacity: 0.6;
    cursor: default;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}