.page-link {
    color: var(--black);
    font-weight: 500;
    background-color: rgba(0, 105, 109, 0.2);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        box-shadow:
            0 1px 3px 1px rgba(0, 0, 0, 0.2),
            0 0 2px 0 rgba(0, 0, 0, 0.2);
    }

    &:active {
        box-shadow:
            0 1px 3px 1px rgba(0, 0, 0, 0.2),
            0 0 2px 0 rgba(0, 0, 0, 0.2);
        color: var(--white);
        background-color: var(--primary-color-2);
    }
}

.page-item {
    margin-left: 10px;
}

ul.pagination {
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

nav.pagination {
    width: 80%;
    margin: 0 auto;
    margin-top: 16px;
    max-width: 1152px;
    display: flex;
    justify-content: flex-end;
}