.noti-item__block {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px;
    border: solid 1px var(--outline-variant);
    border-radius: 8px;
    background-color: rgb(0, 105, 109, 0.1);
}

.noti-item__block.read {
    background-color: white;
}

.noti-item__img {
    object-fit: contain;
    width: 25%;
    border-radius: 8px;
}

.noti-item__main {
    display: inherit;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;
}

.noti-item__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.noti-item__sub-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.noti-item__info {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.noti-item__date-time {
    display: inherit;
    flex-direction: row;
    gap: 12px;
    color: var(--dark-gray);
    font-size: 12px;
}

.noti-item__button {
    display: inherit;
    gap: 12px;
}

/*popup*/
.popup {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup__main {
    position: relative;
    background-color: #FAFAFA;
    border-radius: 8px;
    margin: auto;
    width: 50%;
}

.close-btn {
    position: relative;
    color: var(--primary-color-1);
    font-size: 25px;
    font-weight: 700;
}

.close-btn:hover {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.popup__img {
    object-fit: contain;
    width: 100%;
    border-radius: 8px;
}

.popup__content-main {
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 12px;
}

.popup--top {
    display: inline-flex;
    justify-content: space-between;
}

.popup .popup__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.popup .popup__sub-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.popup p {
    margin-bottom: 6px;
}

.popup__content-title {
    display: flex;
    flex-direction: column;
}