.modal-otp {
	position: fixed;
	display: none;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.otp {
	box-sizing: border-box;
}

h1 {
	margin: 0;
	font-size: 24px;
}

.otp-container {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	animation: modalFadeIn ease 0.5s;
}

.otp__notice {
	margin: 14px 0 0 0;
}

.otp__card {
	width: 600px;
	height: 350px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 34px 43px 35px 43px;
	box-shadow: 0 10px 40px -20px black;
	position: relative;
	font-size: 16px;
}

.otp__card-input {
	margin: 26px 0;
	display: grid;
	gap: 23px;
	justify-content: center;
	grid-template-columns: repeat(6, auto);
}

.otp__card-input input {
	width: 60px;
	height: 60px;
	font-size: 16px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #bec8c9;
}

.otp__button {
	display: inline-flex;
	gap: 13px;
	padding-left: 185px;
	margin: 18px 0 0 0;
}

.otp__button--submit1 {
	width: 96px;
	height: 48px;
	border-radius: 8px;
	color: #085457;
	background-color: white;
	border: 1px solid #085457;
	font-size: 16px;
}

.otp__button--submit2 {
	width: 96px;
	height: 48px;
	border-radius: 8px;
	background-color: #085457;
	color: white;
	border: none;
	font-size: 16px;
}

.otp__close-btn {
	position: absolute;
	top: 16px;
	right: 19px;
}

.otp__close-btn:hover{
	cursor: pointer;
}

.otp__close-btn span {
	color: #00696d;
}

.otp__reject {
	color: #a7a7a7;
	font-size: 14px;
	margin: 10px 0;
}

.otp__retry {
	color: #00696d;
	font-weight: 700;
	font-size: 14px;
}

.otp__button--submit1:hover {
	box-shadow:
		0 1px 3px 1px rgba(0, 0, 0, 0.2),
		0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.otp__button--submit2:hover {
	box-shadow:
		0 1px 3px 1px rgba(0, 0, 0, 0.2),
		0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.otp__button[disabled] {
	opacity: 0.6;
	cursor: default;
}

@keyframes modalFadeIn {
	from {
		opacity: 0;
		transform: translateY(-200px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* del bank card */
.del-bank-card .otp__card h1,
.del-debit-card .otp__card h1 {
	font-size: 35px;
	text-align: center;
	margin: 100px auto 45px auto;
}