.room-container {
    display: flex;
}

.room {
    width: 100%;
    height: 368px;
    display: inherit;
    flex-direction: column;
    border: 1px solid var(--outline-variant);
    border-radius: 8px;
    background-color: var(--primary-color-3-o10);
}

.room p,
.room h2 {
    margin: 0;
}

.room span {
    color: var(--primary-color-1);
}

.room__type {
    height: 64px;
    box-sizing: border-box;
    padding: 16px 16px 12px;
    background: var(--green-gradient);
    font-size: 1.5rem;
    color: var(--white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.room__detail {
    display: inherit;
    height: 100%;
}

.room__detail--left {
    width: 25%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--white);
}

.room__preview {
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
}

.room__area {
    display: inherit;
    gap: 8px;
    margin-left: 8px;
}

.room__feature {
    display: inherit;
    justify-content: space-around;
}

.room__feature p {
    height: 32px;
    box-sizing: border-box;
    padding: 2px 16px 8px;
    background-color: var(--primary-color-3-o10);
    border-radius: 4px;
}

.room__detail--right {
    width: 75%;
    height: 100%;
    display: inherit;
    flex-direction: column;
    gap: 8px;
    background-color: var(--primary-color-3-o10);
    box-sizing: border-box;
    padding: 12px 24px;
}

.room__title {
    display: inherit;
    justify-content: space-between;
}

.room__title h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.room__title div {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.room__title input {
    text-align: center;
    width: 36px;
    padding: 0 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.room__title span {
    cursor: pointer;
}

.room__content {
    display: inherit;
    justify-content: space-between;
}

.room__content--left,
.room__content--mid,
.room__content--right {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.room__content--left div,
.room__content--mid div {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.room__content--right {
    text-align: right;
}

.room__left {
    color: var(--green);
    font-weight: 400;
}

.room__origin-price {
    color: var(--black-o50);
}

.room__price {
    color: var(--green);
    font-size: 1.875rem;
    font-weight: 700;
}

.room__unit {
    color: var(--black-o50) !important;
    font-weight: 500;
}

.room__content--right button {
    height: 48px;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--primary-color-3);
    border: 0;
    border-radius: 8px;
    font-weight: 500;
    color: var(--white);
}

.room__content--right button:hover {
    color: var(--white);
}