.room-container {
    display: flex;
}

.room {
    width: 100%;
    display: inherit;
    flex-direction: column;
    border: 1px solid #BEC8C9;
    border-radius: 8px;
}

.room p,
.room h2 {
    margin: 0;
}

.room span {
    color: var(--primary-color);
}

.room__type {
    height: 64px;
    box-sizing: border-box;
    padding: 16px 16px 12px;
    background: var(--green-gradient);
    font-size: 1.5rem;
    color: var(--white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.room__detail {
    display: inherit;
}

.room__detail--left {
    width: 24%;
    display: inherit;
    flex-direction: column;
    gap: 12px;
    border-bottom-left-radius: 8px;
    padding-bottom: 12px;
}

.room__preview {
    height: 180px;
    object-fit: cover;
}

.room__area {
    display: inherit;
    gap: 8px;
    margin-left: 8px;
}

.room__feature {
    display: inherit;
    justify-content: space-around;
}

.room__feature button {
    height: 32px;
    box-sizing: border-box;
    padding: 2px 16px 8px;
    background-color: rgba(187, 233, 255, 0.5);
}

.room__detail--right {
    width: 76%;
    display: inherit;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(187, 233, 255, 0.5);
    box-sizing: border-box;
    padding: 12px 24px 0 24px;
}

.room__title {
    display: inherit;
    justify-content: space-between;
}

.room__title h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.room__title div {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.room__title input {
    width: 50px;
    padding: 0 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.room__title span {
    cursor: pointer;
}

.room__content {
    display: inherit;
    justify-content: space-between;
}

.room__content--left,
.room__content--mid,
.room__content--right {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.room__content--left div,
.room__content--mid div {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.room__content--right {
    text-align: right;
}

.room__left {
    color: var(--green);
    font-weight: 400;
}

.room__origin-price {
    color: rgba(0, 0, 0, 0.5);
}

.room__price {
    color: var(--green);
    font-size: 1.875rem;
    font-weight: 700;
}

.room__unit {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.room__content--right button {
    height: 48px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #00A1A6;
    border: 0;
    border-radius: 8px;
    font-weight: 500;
    color: var(--white);
}

.modal-content {
    flex-direction: row;
    border-radius: 8px;
    border: none;
}

.modal-content h1,
.modal-content h2,
.modal-content p {
    margin: 0;
}

.modal__view {
    width: 60%;
    display: inherit;
    flex-direction: column;
    gap: 36px;
    background-color: #4D5F7C;
    color: var(--white);
    padding: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.modal__view h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.modal__view--big {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__view--big img {
    width: 80%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
}

.modal__view--big span {
    font-size: 2rem;
    background-color: rgba(134, 172, 173, 0.70);
    border-radius: 6px;
}

.modal__view--small {
    display: inherit;
    justify-content: space-between;
}

.modal__view--small img {
    width: 150px;
    height: 86px;
    object-fit: cover;
    border-radius: 8px;
}

.modal__detail {
    width: 40%;
    display: inherit;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.detail__info {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.modal__detail h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.modal__header {
    display: inherit;
    justify-content: space-between;
}

.detail__item {
    display: inherit;
    gap: 12px;
}

.detail__item span {
    color: var(--primary-color);
}

.detail__feature {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.feature__row {
    display: inherit;
    justify-content: space-between;
}

.feature__col-left,
.feature__col-right {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}