@import url("/styles/base.css");

.main--search {
    display: flex;
    margin-top: 64px;
    width: 100%;
}

.top-authenticator button:hover {
    box-shadow:
        0 -1px 3px 1px rgba(0, 0, 0, 0.2),
        0 0 2px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.main--search .search__wrapper {
    background-color: var(--white);
    border-radius: 8px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    /* width: 1016px; */
    width: 130%;
}

.search-address {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
}

.search-address span {
    color: var(--blue-gray);
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

.search-address input {
    margin-left: 10px;
    background-color: var(--white);
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
}

.input_address {
    text-decoration: none;
    /* transition: filter 0.2s; */
    border: none;
}

/* .input_address:hover {
    filter: opacity(0.2);
} */

.button--submit {
    background-color: var(--primary-color-4);
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    height: 64px;
    width: 20%;
    border-radius: 8px;
    border: none;
    margin-left: 8px;

    &:hover {
        box-shadow:
            0 1px 3px 1px rgba(0, 0, 0, 0.2),
            0 0 2px 0 rgba(0, 0, 0, 0.2);
    }
}

.daterangepicker {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    margin-left: -40px;
    margin-top: 9px;
    box-shadow:
        0 1px 3px 1px rgba(0, 0, 0, 0.2),
        0 0 2px 0 rgba(0, 0, 0, 0.2);
    top: 198.5px;
    left: 538.025px;
    right: auto;
    display: block;
}
