<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,1,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>2WAYS.com</title>
    <link rel="stylesheet" href="/styles/pages/reset-password.css">
</head>

<body>
    <main class="content-container">
        <section class="resetPassword">
            <h1 class="resetPassword__title">Đặt lại mật khẩu</h1>
            <form class="resetPassword__form form" id="resetPassword-form" action="post">
                <div class="row">
                    <label for="form__password" class="form-label">Mật khẩu mới</label>
                    <p class="form-text resetPassword__note">Đặt mật khẩu có ít nhất là 8 ký tự, trong đó có cả chữ và số.</p>
                    <div class="input_form">
                        <input type="password" class="form-control form__password" id="form__password" placeholder="Nhập mật khẩu mới">
                        <span class="material-symbols-outlined" id="eye-open-psw">visibility</span>
                    </div>
                </div>

                <div class="row">
                    <label for="form__password-confirm" class="form-label">Xác nhận mật khẩu mới</label>
                    <div class="input_form">
                        <input type="password" class="form-control form__password-confirm" id="form__password-confirm" placeholder="Nhập lại mật khẩu mới">
                        <span class="material-symbols-outlined" id="eye-open-cpsw">visibility</span>
                    </div>
                </div>
                <div class="error-message" id="error-message"></div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button id="confirm-button" type="submit" class="btn form__submit">Xác nhận</button>
                </div>
            </form>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/scripts/reset-password.js"></script>

</body>

</html>