<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,1,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/pages/account/information.css" />
    <title>2WAYS.com</title>
</head>

<body>
    <%- include('../../partials/header-small') %>

    <div class="accountpage--container">
        <aside class="aside--wrapper">
            <div class="aside--content">
                <img src="../img/row-1-column-6.png" alt="" />
                <div class="aside__content--detail">
                    <p style="font-weight: 500; margin: 12px 0 0 0">Giàu Phan</p>
                    <p style="font-size: 12px"><i>Chỉnh sửa avatar</i></p>
                </div>
            </div>

            <hr />

            <div class="aside--section">
                <p class="profileBtn">Thông tin cá nhân</p>
                <p class="historyBtn">Lịch sử đặt phòng</p>
                <p class="accountPaymentBtn">Tài khoản thanh toán</p>
                <p class="changePasswordBtn">Đổi mật khẩu</p>
            </div>

            <hr />

            <div class="aside--item logoutBtn">
                <p>Đăng xuất</p>
            </div>
        </aside>
        <!-- Xem hồ sơ -->
        <section id="view-profile" class="form--input">
            <div class="form--title">
                <h1>Thông tin cá nhân</h1>
                <p>Cập nhật thông tin của bạn</p>
            </div>

            <hr />

            <div class="form--items">
                <div class="form--item">
                    <h1>Họ và tên:</h1>
                    <input class="form-control" type="text" placeholder="Phan Nguyễn Yến Giàu" disabled />
                </div>

                <div class="form--item">
                    <h1>Địa chỉ Email:</h1>
                    <input class="form-control" type="text" placeholder="21520796@gm.uit.edu.vn" disabled />
                </div>

                <div class="form--item">
                    <h1>Ngày sinh:</h1>
                    <input class="form-control unfilled" type="none" placeholder="Thêm ngày sinh" disabled />
                </div>

                <div class="form--item">
                    <h1>Giới tính:</h1>
                    <input class="form-control unfilled" type="none" placeholder="Thêm giới tính" disabled />
                </div>

                <!-- <div class="form--item">
            <label for="fname">Name</label>
            <input type="text"
                placeholder="Phan Nguyen Yen Giau"
                disabled>
          </div> -->
            </div>
            <div class="form--submitbutton">
                <!-- <button class="form--submit1">Hủy</button> -->

                <button class="form--submit2 form--submit2-default">Sửa</button>
            </div>
        </section>
        <!-- Sửa hồ sơ -->
        <section id="edit-profile" class="form--input">
            <div class="form--title">
                <h1>Thông tin cá nhân</h1>
                <p>Cập nhật thông tin của bạn</p>
            </div>

            <hr />

            <div class="form--items">
                <div class="form--item">
                    <h1>Họ và tên:</h1>
                    <input class="form-control" type="text" placeholder="Phan Nguyễn Yến Giàu" />
                </div>

                <div class="form--item">
                    <h1>Địa chỉ Email:</h1>
                    <input class="form-control" type="text" placeholder="21520796@gm.uit.edu.vn" />
                </div>

                <div class="form--item">
                    <h1>Ngày sinh:</h1>
                    <input class="form-control" type="date" placeholder="Thêm ngày sinh" />
                </div>

                <div class="form--item">
                    <h1>Giới tính:</h1>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Thêm giới tính</option>
                        <option value="1">Nam</option>
                        <option value="2">Nữ</option>
                        <option value="3">Khác</option>
                    </select>
                </div>
            </div>
            <div class="form--submitbutton">
                <button class="form--submit1 cancel-btn">Hủy</button>

                <button class="form--submit2">Lưu</button>
            </div>
        </section>
    </div>

    <%- include('../../partials/footer') %>

    <script src="/scripts/account-page.js"></script>
</body>

</html>