<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="2WAYS là thương hiệu du lịch và tiện ích sống hàng đầu Đông Nam Á, chúng tôi giúp bạn khám phá đa dạng các dịch vụ đặt phòng">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/site/about.css" />

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-small', { user }) %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Về chúng tôi', link: "/terms-of-use"}
    ] }) %>

	<main>
		<img class="homepage__banner" src="/imgs/about us.png" alt="Banner">
		<section>
			<div class="container--about">
				<h1 class="section__title primary-text mt-48">Về chúng tôi</h1>
				<div class="section__content mt-24">
					<h2>2WAYS là thương hiệu du lịch và tiện ích sống hàng đầu Đông Nam Á, chúng tôi giúp bạn khám phá đa dạng các dịch vụ đặt phòng.</h2>
					<p>Không chỉ vậy, để giúp bạn thực hiện nhiều ước mơ về phong cách sống của mình, chúng tôi còn hoàn thiện các dịch vụ của mình với một loạt các điểm tham quan, hoạt động địa phương cũng như các spa chăm sóc sức khỏe và sắc đẹp. Vì vậy, bất kể lựa chọn lối sống của bạn là gì, bạn chỉ cần một cú nhấp chuột! Đội ngũ chuyên viên của chúng tôi luôn sẵn sàng hỗ trợ bạn trong quá trình đặt phòng khách sạn. Chúng tôi cam kết đáp ứng nhanh chóng các yêu cầu và câu hỏi của bạn để đảm bảo bạn có một trải nghiệm đặt chỗ suôn sẻ.</p>
				</div>
				<div class="section__content mt-24">
					<h2>2WAYS tin rằng hạnh phúc có thể đến dưới nhiều hình thức đối với những người khác nhau trong những thời điểm khác nhau. </h2>
					<p>Vì vậy, với uy tín của chúng tôi và kinh nghiệm lâu dài, chúng tôi hứa hẹn với bạn một loạt các lựa chọn phong phú để thắp sáng trạng thái hạnh phúc của chính bạn. Cho dù bạn đang tìm kiếm một trải nghiệm thú vị hay nghỉ ngơi trong khu nghỉ dưỡng 5 sao, hay một chuyến phiêu lưu ly kỳ cho các chuyến đi trong nước bạn đều có tất cả trong 2WAYS.</p>
					<p>Bạn còn chờ gì nữa? Đặt một chuyến đi được lên kế hoạch chu đáo hoặc một kỳ nghỉ được quyết định vào phút chót với chúng tôi. Với tất cả các lựa chọn du lịch và phong cách sống độc đáo của bạn, như mọi khi, 2WAYS sẽ đồng hành cùng bạn.</p>
					<p>Nếu bạn muốn biết thêm thông tin về các đối tác của chúng tôi hoặc quan tâm đến việc hợp tác cùng chúng tôi, vui lòng liên hệ với chúng tôi qua thông tin liên lạc dưới đây: 2Ways@gmail.com</p>
				</div>
			</div>
		</section>
		<img class="homepage__banner" id="partner" src="/imgs/doi tac.png" alt="Banner">
		<section class="mt-48">
			<div class="container--about">
				<h1 class="section__title primary-text mt-48">Thông tin đối tác</h1>
				<div class="section__content mt-24">
					<h2>Chúng tôi tự hào về mối quan hệ đối tác mạnh mẽ và đáng tin cậy với các đối tác hàng đầu trong ngành công nghiệp khách sạn. </h2>
					<p>Nhờ vào sự hợp tác chặt chẽ này, chúng tôi có thể cung cấp cho khách hàng những trải nghiệm đặt phòng khách sạn tốt nhất và nâng cao chất lượng dịch vụ của chúng tôi.
						Chúng tôi cũng có các đối tác liên kết khác trong ngành công nghiệp như hãng hàng không, các chuối nhà hàng, cà phê, cùng các đối tác khác để mang đến cho khách hàng những giải pháp toàn diện và tiện ích khi đặt phòng khách sạn.
					</p>

				</div>
				<div class="section__content mt-24">
					<h2>Những đối tác thân thiết của 2Ways</h2>
					<ul>
						<li>Luxury restaurant: chuyên về ẩm thực tinh tế, dịch vụ chuyên nghiệp và không gian ấm cúng. Đối tác nhà hàng cao cấp đóng vai trò quan trọng trong việc mang đến trải nghiệm ẩm thực đẳng cấp cho khách hàng của khách sạn.</li>
						<li>The Coffee House: chuyên về cà phê chất lượng cao, không gian thiết kế đẹp mắt và dịch vụ chuyên nghiệp. Đối tác quán cà phê cao cấp đóng vai trò quan trọng trong việc mang đến trải nghiệm cà phê đẳng cấp cho khách hàng của khách sạn.</li>
						<li>Petroleum Club: đáp ứng các tiêu chuẩn cao về an toàn, chất lượng dịch vụ và đội ngũ phi hành đoàn chuyên nghiệp. Chúng tôi cung cấp đa dạng các tuyến bay nội địa và quốc tế, đảm bảo rằng bạn có thể đến được mọi điểm đến mà bạn mong muốn.</li>
						<li>Falling Travle: cung cấp một loạt các loại đồ uống và cocktail phong phú, bao gồm cả các loại rượu, bia, cocktail tinh tế và đồ uống phi cồn. Ngoài ra, quán bar cũng có thể cung cấp các dịch vụ như nhạc sống, biểu diễn nghệ thuật, đêm nhạc hoặc tiệc tùng.</li>
					</ul>
				</div>
			</div>
		</section>
	</main>

	<div class="mt-12"></div>

	<%- include('../../partials/footer') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="/scripts/base.js"></script>

</body>


</html>