<!doctype html>

<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/pages/account/error404.css" />
    <title>2WAYS.com</title>
</head>

<body>
    <div id="main">
        <%- include('../../partials/header-small') %>
        <!--  -->
        <div class="error-page">
            <div>
                <h1 data-h1="404">404</h1>
                <p data-p="BAD REQUEST">BAD REQUEST</p>
            </div>
        </div>
        <button class="btn--filled sec back" type="button">
            <div class="status-layer">
                <span>Go back</span>
            </div>
        </button>
    </div>
</body>

</html>