<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="2WAYS là thương hiệu du lịch và tiện ích sống hàng đầu Đông Nam Á, chúng tôi giúp bạn khám phá đa dạng các dịch vụ đặt phòng">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/site/index.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-full', { user }) %>
	<%- include('../../components/on-top-btn') %>


	<main>
		<section id="discover-section" class="mt-64 primary-text">
			<h1 class="section__title">Khám phá về 2Ways</h1>
			<div class="section__centent mt-64 slider">
				<div class="slider__wrapper">
					<img src="/imgs/discover__image1.png" alt="slider-1" class="slider__img">
					<img src="/imgs/discover__image2.png" alt="slider-2" class="slider__img">
					<img src="/imgs/discover__image3.png" alt="slider-3" class="slider__img">
					<img src="/imgs/discover__image1.png" alt="slider-4" class="slider__img">
				</div>
			</div>
		</section>

		<section id="voucher-section" class="mt-64 primary-text">
			<div class="container--index">
				<h1 class="section__title">Các ưu đãi mới nhất</h1>
				<div class="section__content mt-64">
					<div class="container">
						<div class="voucher__item">
							<h2 class="voucher__item__title">Tận hướng kì nghỉ dài hạn nhất</h2>
							<p class="voucher__item__description">Tìm kiếm nơi dừng chân cho phép bạn có thể ở lại thời gian nhiều nhất</p>
							<button class="btn--filled sec" type="button">
								<div class="status-layer find-out-now">
									<span>Tìm hiểu ngay</span>
								</div>
							</button>
						</div>
						<div class="voucher__item">
							<h2 class="voucher__item__title">Phòng nghỉ với giá tiết kiệm</h2>
							<p class="voucher__item__description">Tìm kiếm nơi dừng chân phù hợp với túi tiền của bạn nhất có thể</p>
							<button class="btn--filled sec" type="button">
								<div class="status-layer find-out-now">
									<span>Tìm hiểu ngay</span>
								</div>
							</button>
						</div>
					</div>
				</div>
				<p class="section__detail mt-16 secondary-text"><strong>Khuyến mãi, giảm giá và ưu đãi đặc biệt dành riêng cho bạn</strong></p>
			</div>
		</section>

		<section id="partners-section" class="mt-64 primary-text">
			<div class="container--index">
				<h1 class="section__title">Các đối tác của 2Ways</h1>
				<div class="section__content mt-64">
					<div class="container">
						<div class="partners__item">
							<img class="partners__logo" src="\imgs\partner__luxury.png" alt="Logo LUXURY">
							<p class="partners__name mt-16">Luxury</p>
						</div>
						<div class="partners__item">
							<img class="partners__logo" src="\imgs\partner__coffee_house.png" alt="Logo The Coffee House">
							<p class="partners__name mt-16">The Coffee House</p>
						</div>
						<div class="partners__item">
							<img class="partners__logo" src="\imgs\partner__petroleum_club.png" alt="Logo Petroleum Club">
							<p class="partners__name mt-16">Petroleum Club</p>
						</div>
						<div class="partners__item">
							<img class="partners__logo" src="\imgs\partner__falling_travel.png" alt="Logo Falling Travel">
							<p class="partners__name mt-16">Falling Travel</p>
						</div>
					</div>
				</div>
				<p class="section__detail mt-16"><strong>Cùng các đối tác có được đánh giá cao!</strong></p>
			</div>
		</section>

		<section id="banner" class="mt-64">
			<img class="banner__img" src="/imgs/banner.png" alt="banner">
			<img class="banner__logan" src="/imgs/banner__logan.svg" alt="banner-slogan">
		</section>
		<section id="factor-section" class="mt-64 primary-text">
			<div class="container--index">
				<h1 class="section__title">Chúng tôi đảm bảo về các yếu tố</h1>
				<div class="section__content mt-64">
					<div class="container">
						<div class="factor__item">
							<img class="factor__logo" src="\imgs\factor__cho_nghi_thoai_mai.png" alt="factor-1">
							<p class="factor__name mt-16">Chỗ nghỉ thoải mái</p>
						</div>
						<div class="factor__item">
							<img class="factor__logo" src="\imgs\factor__nhan_vien_tan_tam.png" alt="factor-2">
							<p class="factor__name mt-16">Nhân viên tận tâm</p>
						</div>
						<div class="factor__item">
							<img class="factor__logo" src="\imgs\factor__phuc_vu_247.png" alt="factor-3">
							<p class="factor__name mt-16">Phục vụ 24/7</p>
						</div>
						<div class="factor__item">
							<img class="factor__logo" src="\imgs\factor__an_ninh_duoc_dam_bao.png" alt="factor-4">
							<p class="factor__name mt-16">An ninh đảm bảo</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div class="mt-48"></div>

	<%- include('../../partials/footer') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="/scripts/partials/header-full.js"></script>
	<script src="/scripts/partials/search-bar.js"></script>
	<script src="/scripts/site/index.js"></script>
	<script src="/scripts/base.js"></script>

</body>

</html>