<!DOCTYPE html>
<html lang="vi">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#00696d">
	<meta name="author" content="SE104.O11_Nhom6">
	<meta name="description" content="Chính sách của 2WAYS luôn xây dựng đặt quyền lợi của khách hàng là ưu tiên hàng đầu">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="shortcut icon" href="/imgs/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/pages/site/privacy-policy.css">

	<title>2WAYS.com</title>

</head>

<body>

	<%- include('../../partials/header-small') %>
	<%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Chính sách bảo mật và quyền riêng tư', link: "/privacy-policy"}
    ] }) %>

	<main class="private__container">
		<h2 class="private__header">CHÍNH SÁCH BẢO MẬT VÀ QUYỀN RIÊNG TƯ</h2>
		<div class="private-intro">
			<p>Chính sách quyền riêng tư này mô tả cách thức mà 2WAYS thu thập và sử dụng thông tin cá nhân của quý khách
				trong quá trình quý khách sử dụng các trang web, ứng dụng, sản phẩm và dịch vụ của 2WAYS
				(gọi chung là <span class="highlight">“Sản Phẩm Của Chúng Tôi”</span>). </p>
			<p>Chính sách quyền riêng tư này không áp dụng cho bất kỳ sản phẩm, dịch vụ, trang web hoặc nội dung nào
				được cung cấp bởi bên thứ ba hoặc có sử dụng chính sách quyền riêng tư riêng. </p>
			<p>Chính sách này bao gồm các nội dung sau:</p>
			<ol>
				<li>Thông tin cá nhân được chúng tôi thu thập</li>
				<li>Cách thức chúng tôi sử dụng thông tin cá nhân</li>
				<li>Quảng cáo trên Internet và bên thứ ba</li>
				<li>Thông tin liên lạc, thông báo và sửa đổi</li>
				<li>Ví dụ về các thông tin được chúng tôi thu thập</li>
			</ol>
			<section class="private__main">
				<div class="private__info">
					<h4 class="private__info-title">1. Thông tin cá nhân được chúng tôi thu thập</h4>
					<p>Chúng tôi thu thập thông tin cá nhân của quý khách trong quá trình quý khách tương tác với
						Các Sản Phẩm Của Chúng Tôi.</p>
					<p>Dưới đây là các nguồn thông tin được chúng tôi thu thập:</p>
					<ul>
						<li><span class="title">Thông tin quý khách cung cấp cho chúng tôi:</span> Chúng tôi thu thập bất kỳ thông tin nào quý khách
							cung cấp liên quan đến Sản Phẩm Của Chúng Tôi. </li>
						<li><span class="title">Thông tin tự động:</span> Chúng tôi tự động thu thập một số loại thông tin nhất định khi quý khách
							tương tác với Sản Phẩm Của Chúng Tôi. Chúng tôi sử dụng camera và các công nghệ tương tự khác
							(gọi chung là “camera”) để nhận diện người và phương tiện ra vào các cơ sở kinh doanh và
							các khu vực thuộc quản lý của chúng tôi.</li>
						<li><span class="title">Thông tin từ các nguồn khác:</span> Chúng tôi có thể thu thập thông tin về quý khách từ các nguồn khác,
							bao gồm nhà cung cấp dịch vụ, đối tác và các nguồn công khai có sẵn. </li>
					</ul>
				</div>
				<div class="private__info">
					<h4 class="private__info-title">2. Cách thức chúng tôi sử dụng thông tin cá nhân</h4>
					<p>Chúng tôi sử dụng thông tin cá nhân của quý khách để vận hành, cung cấp và cải thiện
						Sản Phẩm Của Chúng Tôi. Mục đích sử dụng thông tin cá nhân của chúng tôi bao gồm: </p>
					<p>Dưới đây là các nguồn thông tin được chúng tôi thu thập:</p>
					<ul>
						<li><span class="title">Cung cấp Sản Phẩm Của Chúng Tôi:</span> Chúng tôi sử dụng thông tin cá nhân
							của quý khách để cung cấp và giao Sản Phẩm Của Chúng Tôi và xử lý các giao dịch liên quan đến
							Sản Phẩm Của Chúng Tôi, bao gồm nhưng không giới hạn đến việc đăng ký, mua hàng, tham gia
							các chương trình quảng cáo, ưu đãi và thanh toán.</li>
						<li><span class="title">Đo lường, hỗ trợ và cải thiện Sản Phẩm Của Chúng Tôi:</span>Chúng tôi sử dụng thông tin cá nhân của quý khách
							để đo lường việc sử dụng, phân tích hiệu suất, sửa lỗi, cung cấp hỗ trợ, cải thiện và phát triển
							Sản Phẩm Của Chúng Tôi.</li>
						<li><span class="title">Đưa ra khuyến nghị và cá nhân hóa trải nghiệm:</span> Chúng tôi sử dụng
							thông tin cá nhân của quý khách để đề xuất Sản Phẩm Của Chúng Tôi mà quý khách có thể quan tâm,
							nhận diện sở thích của quý khách và cá nhân hóa trải nghiệm của quý khách với Sản Phẩm Của Chúng Tôi.</li>
						<li><span class="title">Tuân thủ nghĩa vụ pháp lý:</span>Trong một số trường hợp nhất định,
							chúng tôi có nghĩa vụ pháp lý để thu thập, sử dụng hoặc lưu trữ thông tin cá nhân của quý khách. </li>
						<li><span class="title">Liên lạc với quý khách:</span> Chúng tôi sử dụng thông tin cá nhân của
							quý khách để liên lạc với quý khách về các vấn đề liên quan đến Sản Phẩm Của Chúng Tôi thông qua
							các kênh khác nhau (ví dụ: email, chat, SMS, cuộc gọi thoại) và để trả lời yêu cầu của quý khách.</li>
						<li><span class="title">Tiếp thị:</span> Chúng tôi sử dụng thông tin cá nhân của quý khách để
							tiếp thị và quảng bá Sản Phẩm Của Chúng Tôi theo quy định của pháp luật. Chúng tôi có thể hiển thị
							quảng cáo Sản Phẩm Của Chúng Tôi dựa trên sở thích của quý khách. </li>
						<li><span class="title">Phòng chống gian lận và lạm dụng, rủi ro tín dụng:</span> Chúng tôi sử dụng
							thông tin cá nhân của quý khách để ngăn chặn và phát hiện gian lận, lạm dụng nhằm bảo vệ an ninh
							của khách hàng, chúng tôi và những người khác. Chúng tôi cũng có thể sử dụng các phương pháp chấm điểm
							để đánh giá và quản trị rủi ro tín dụng.</li>
						<li><span class="title">Một số mục đích cụ thể cần sự đồng ý của quý khách:</span> Chúng tôi có thể
							xin sự chấp thuận của quý khách về việc sử dụng thông tin cá nhân cho một mục đích cụ thể nào đó
							khi chúng tôi liên hệ với quý khách.</li>
					</ul>
				</div>
				<div class="private__info">
					<h4 class="private__info-title">3. Quảng cáo trên Internet và bên thứ ba</h4>
					<p>Các Sản Phẩm Của Chúng Tôi có thể bao gồm quảng cáo của bên thứ ba và đường link tới các trang web
						và ứng dụng khác. Các đối tác quảng cáo bên thứ ba có thể thu thập thông tin về quý khách khi quý khách
						tương tác với nội dung, quảng cáo hoặc dịch vụ của họ. </p>
				</div>
				<div class="private__info">
					<h4 class="private__info-title">4. Thông tin liên lạc, thông báo và sửa đổi</h4>
					<p>Nếu quý khách có bất kỳ câu hỏi nào về quyền riêng tư tại 2WAYS hoặc muốn liên hệ với đơn vị
						kiểm soát thông tin của chúng tôi, vui lòng liên hệ với chúng tôi và chúng tôi sẽ cố gắng trả lời
						câu hỏi của quý khách. Quý khách cũng có thể liên hệ với chúng tôi theo địa chỉ dưới đây:</p>
					<ul>
						<li><span class="title">Email:</span> <span class="highlight">21521698@gm.uit.edu.vn</span></li>
						<li><span class="title">Số điện thoại:</span> <span class="highlight">+84 964 850 620</span></li>
					</ul>
					<p>Hoạt động kinh doanh của chúng tôi liên tục thay đổi và Chính sách quyền riêng tư này cũng có thể
						được sửa đổi. Quý khách nên truy cập và kiểm tra trang web của chúng tôi thường xuyên để cập nhật
						những thay đổi gần nhất. Trừ trường hợp có quy định khác, Chính sách quyền riêng tư hiện tại của
						chúng tôi áp dụng cho tất cả thông tin cá nhân chúng tôi có về quý khách và tài khoản của quý khách.
						Việc sửa đổi Chính sách này trong mọi trường hợp sẽ không làm giảm mức độ bảo vệ thông tin cá nhân
						được thu thập trong quá khứ mà không thông báo cho khách hàng liên quan và cho quý khách được quyền lựa chọn.</p>
				</div>
				<div class="private__info">
					<h4 class="private__info-title">5. Ví dụ về các thông tin được chúng tôi thu thập</h4>
					<p>Quý khách chủ yếu cung cấp thông tin cho chúng tôi khi quý khách:</p>
					<ul class="private__info-none">
						<li>- Tìm kiếm, đăng ký hoặc mua Sản Phẩm Của Chúng Tôi;</li>
						<li>- Tạo hoặc quản lý tài khoản của quý khách trên hệ thống, nền tảng, ứng dụng của Sản Phẩm của Chúng Tôi;</li>
						<li>- Cấu hình cài đặt của quý khách cho, cung cấp quyền truy cập dữ liệu cho, hoặc tương tác với Sản Phẩm Của Chúng Tôi;</li>
						<li>- Đăng ký hoặc tham dự một sự kiện của 2WAYS;</li>
						<li>- Mua hoặc sử dụng nội dung, sản phẩm hoặc dịch vụ từ các nhà cung cấp bên thứ ba thông qua trang web
							hoặc ứng dụng của 2WAYS (hoặc các địa điểm tương tự khác do chúng tôi điều hành hoặc cung cấp);</li>
						<li>- Cung cấp nội dung, sản phẩm hoặc dịch vụ của quý khách trên hoặc thông qua Sản Phẩm Của Chúng Tôi
							hoặc trang web hoặc ứng dụng của 2WAYS (hoặc các địa điểm tương tự khác do chúng tôi điều hành
							hoặc cung cấp);</li>
						<li>- Liên lạc với chúng tôi qua tất cả các phương tiện chính thống như tổng đài chăm sóc khách hàng, gọi điện, email;</li>
						<li>- Hoàn thành bảng câu hỏi hoặc các phiếu cung cấp thông tin khác;</li>
						<li>- Đăng tải nội dung trên các trang web hoặc ứng dụng của 2WAYS hoặc các địa điểm tương tự.</li>
					</ul>
					<p>Tùy thuộc vào việc quý khách sử dụng Sản Phẩm Của Chúng Tôi, quý khách có thể cung cấp cho chúng tôi các thông tin ví dụ như:</p>
					<ul class="private__info-none">
						<li>- Tên, địa chỉ email, địa chỉ thực, số điện thoại và thông tin liên lạc tương tự khác;</li>
						<li>- Thông tin thanh toán, bao gồm thông tin thẻ tín dụng và tài khoản ngân hàng;</li>
						<li>- Thông tin về vị trí của quý khách;</li>
						<li>- Thông tin về tổ chức của quý khách và đầu mối liên hệ của quý khách, chẳng hạn như đồng nghiệp
							hoặc những người trong tổ chức của quý khách;</li>
						<li>- Tên người dùng, bí danh, vai trò và thông tin xác thực và bảo mật khác;</li>
						<li>- Nội dung phản hồi, lời chứng thực, câu hỏi, trao đổi với chúng tôi;</li>
						<li>- Hình ảnh của quý khách (tĩnh, video và trong một số trường hợp 3-D), giọng nói và các đặc điểm
							nhận dạng cá nhân khác của quý khách khi quý khách tham dự một sự kiện của 2WAYS hoặc sử dụng
							một số Sản Phẩm Của Chúng Tôi;</li>
						<li>- Thông tin liên quan đến danh tính, bao gồm thông tin nhận dạng do chính phủ cấp, quốc tịch.</li>
					</ul>
				</div>
			</section>
		</div>
	</main>

	<%- include('../../partials/footer') %>
	<%- include('../../components/on-top-btn') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="/scripts/base.js"></script>

</body>


</html>