<nav>
    <a href="#">
        <span class="material-symbols-outlined">dashboard</span>
        <p>Dashboard</p>
    </a>

    <a href="#">
        <span class="material-symbols-outlined">room_preferences</span>
        <p>Rooms</p>
    </a>

    <a href="#">
        <span class="material-symbols-outlined">manage_accounts</span>
        <p>Users</p>
    </a>

    <a href="#">
        <span class="material-symbols-outlined">rate_review</span>
        <p>Ratings</p>
    </a>

    <a href="#">
        <span class="material-symbols-outlined">notifications</span>
        <p>Notifications</p>
    </a>

    <a href="/admin/logout">
        <span class="material-symbols-outlined">logout</span>
        <p>Log out</p>
    </a>
</nav>