<header>
    <div class="header-container">
        <img class="header-container__logo" src="/imgs/logo-white.png" alt="2WAYS.com" />
        <p class="header-container__title" href="#">Đăng ký</a></p>
        <a href="#" class="header-container__help">Bạn cần sự trợ giúp?</a>
    </div>
</header>