<header>
    <div class="header-container">
        <span class="header-container__title"><%= title %></span>
        <div class="header-container__top">
            <img class="header-container__img logo-click-hst" src="/imgs/logo.svg" alt="Logo" />
            <a class="header-container__help" onclick="redirectToPage('<%= help %>')"><%= help %></a>
        </div>
    </div>
</header>
<div class="space"></div>