<header>
  <div class="header-container">
    <img class="logo" src="/imgs/logo-white.png" alt="2WAYS.com" />
    <p class="title"><%= title %></p>
    <a href="#" class="help">Bạn cần sự trợ giúp?</a>
  </div>
</header>
