<header>
  <div class="container__header--top">
    <div class="logo-img">
      <img src="/imgs/logo-white.png" alt="2WAYS.com" />
    </div>
    <div class="container__nav--top">
      <li><a href="#">title</a></li>
    </div>
    <div class="top-authenticator">
      <p>Bạn cần sự trợ giúp?</p>
    </div>
  </div>
</header>
