<header>
    <div class="container">
        <div class="container__header--top">
            <div class="logo-img">
                <img src="../img/Logo.png" alt="" style="background-color: #085457" />
            </div>
            <div class="container__nav--top">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Thông báo</a></li>
                </ul>
            </div>
            <div class="top-authenticator">
                <p>Chào,</p>
                <p>Giau Phan</p>
                <img src="../img/row-1-column-6.png" alt="" />
            </div>
        </div>
    </div>
</header>