<header>
  <div class="header-container">
    <img class="header-container__img" src="/imgs/logo.svg" alt="Logo" />
    <div class="header-container__nav--top">
      <a href="#">Trang chủ</a></li>
      <a href="#">Thông báo</a></li>
    </div>
    <div class="header-container__top-authenticator">
      <!-- Header with no login -->

      <button type="button" class="button-signin">Đăng nhập</button>
      <button type="button" class="button-signup">Đăng ký</button>

      <!-- Header with Login-->

      <!-- <p>Chào,</p>
            <p>Giau Phan</p>
            <img src="../img/row-1-column-6.png" alt="" /> -->
    </div>
  </div>
</header>