<header>
  <div class="header-container">
    <img class="header-container__img" src="/imgs/logo.svg" alt="Logo" />
    <p class="header-container__title"><%= title %></p>
    <a href="#" class="header-container__help">Bạn cần sự trợ giúp?</a>
  </div>
</header>