<header>
  <div class="header-container">
    <div class="header-container__top">
      <div class="header-container__logo-img">
        <img src="/imgs/logo.svg" alt="Logo" class="logo-click-hf" />
      </div>
      <div class="header-container__nav-top">
        <button href="#" class="status-layer " id="homepage-btn-hf">Trang chủ</button>
        <button href="#" class="status-layer noti-btn-hf">Thông báo</button>
      </div>
      <div class="header-container__top-authenticator">
        <!-- Header with no login -->

        <!-- <button class="button-signin signin-btn-hf" type="button" href="#">
          <div class="status-layer">
            <span>Đăng nhập</span>
          </div>
        </button>

        <button class="sec button-signup signup-btn-hf" type="button" href="#">
          <div class="status-layer">
            <span>Đăng ký</span>
          </div>
        </button> -->

        <!-- Header with login -->

        <p>Chào,</p>
        <p class="name-click-hf">Giau Phan</p>
        <img src="/imgs/milo.jpg" alt="avatar" class="avatar-click-hf">

      </div>
    </div>

    <div class="header-container__title">
      <h1>Cần nơi dừng chân</h1>
      <h1>Đến ngay 2WAYS.com</h1>
      <h3>Tìm phòng với giá ưu đãi nhất từ khách sạn, nhà nghỉ,...</h3>
    </div>

    <%- include('../components/search-bar.ejs') %>
  </div>
</header>