<header>
  <div class="header-container">
    <div class="header-container__top">
      <div class="header-container__logo-img">
        <img src="/imgs/logo.svg" alt="Logo" class="logo-click-hf">
      </div>
      <div class="header-container__nav-top">
        <button href="#" class="status-layer" id="homepage-btn-hf">Trang chủ</button>
        <button href="#" class="status-layer noti-btn-hf">Thông báo</button>
      </div>
      <div class="header-container__top-authenticator">
        <% if (user) { %>
        <p>Chào,</p>
        <a href="/account/information" style="text-decoration: none;">
          <p><%= user?.last_name + ' ' + user?.first_name %></p>
        </a>
        <a href="/account/information">
          <img src="/imgs/user/<%= user?.avatar ?? 'default.jpg'%>" alt="avatar" class="avatar-btn-hf" />
        </a>
        <% } else { %>
        <a href="/auth/login" style='text-decoration: none;'>
          <button class="button-signin signin-btn-hf" type="button">
            <div class="status-layer">
              <span>Đăng nhập</span>
            </div>
          </button>
        </a>
        <a href="/auth/register" style='text-decoration: none;'>
          <button class="sec button-signup signup-btn-hf" type="button">
            <div class="status-layer">
              <span>Đăng ký</span>
            </div>
          </button>
        </a>
        <% } %>
      </div>
    </div>

    <div class="header-container__title">
      <h1>Cần nơi dừng chân</h1>
      <h1>Đến ngay 2WAYS.com</h1>
      <h3>Tìm phòng với giá ưu đãi nhất từ khách sạn, nhà nghỉ,...</h3>
    </div>

    <%- include('../components/search-bar.ejs') %>
  </div>
</header>