<header>
    <div class="container__header">
        <div class="container__header--top">
            <div class="logo-img">
                <img src="/imgs/logo-white.png" alt="" />
            </div>
            <div class="container__nav--top">
                <a href="#">Trang chủ</a>
                <a href="#">Thông báo</a>
            </div>
            <div class="top-authenticator">
                <!-- Header with no login -->
                <a class="btn--filled" type="button" href="/auth/login">
                    <div class="status-layer">
                        <span>Đăng nhập</span>
                    </div>
                </a>

                <a class="btn--filled sec" type="button" href="/auth/register">
                    <div class="status-layer">
                        <span>Đăng ký</span>
                    </div>
                </a>

                <!-- Header with login -->

                <!-- <p>Chào,</p>
            <p>Giau Phan</p>
            <img src="../img/row-1-column-6.png" alt="" /> -->
            </div>
        </div>

        <div class="header--title">
            <h1>Cần nơi dừng chân</h1>
            <h1>Đến ngay 2WAYS.com</h1>
            <h3>Tìm phòng với giá ưu đãi nhất từ khách sạn, nhà nghỉ,...</h3>
        </div>

        <%- include('../components/search-bar.ejs') %>
    </div>
</header>
<script src="/scripts/header.js"></script>