<header>
	<div class="header-container">
		<div class="header-container__top">
			<a href="/" class="header-container__logo-img">
				<img src="/imgs/logo.svg" alt="Logo" class="logo-click-hs" />
			</a>
			<div class="header-container__nav-top">
				<a href="/" class="status-layer " id="homepage-btn-hs">Trang chủ</a>
				<a href="/notifications/account-update" class="status-layer" id="noti-btn-hs">Thông báo</a>
			</div>
			<div class="header-container__top-authenticator">
				<% if (user) { %>
				<p>Chào,</p>
				<a href="/account/information" class="name-btn-hs" style="text-decoration: none;">
					<p><%= user?.last_name + ' ' + user?.first_name %></p>
				</a>
				<!-- <p class="name-click-hf"><%# user?.last_name + ' ' + user?.first_name %></p> -->
				<img src="/imgs/user/<%= user?.avatar ?? 'default.jpg'%>" alt="avatar" class="avatar-btn-hs" />
				<% } else { %>
				<a href="/auth/login" style='text-decoration: none;'>
					<button class="button-signin signin-btn-hf" type="button">
						<div class="status-layer">
							<span>Đăng nhập</span>
						</div>
					</button>
				</a>
				<a href="/auth/register" style='text-decoration: none;'>
					<button class="sec button-signup signup-btn-hf" type="button">
						<div class="status-layer">
							<span>Đăng ký</span>
						</div>
					</button>
				</a>
				<% } %>
			</div>
		</div>
	</div>
</header>
<div class="space"></div>