<header>
  <div class="header-container">
    <div class="header-container__top">
      <div class="header-container__logo-img">
        <img src="/imgs/logo.svg" alt="Logo" />
      </div>
      <div class="header-container__nav-top">
        <a href="#">Trang chủ</a>
        <a href="#">Thông báo</a>
      </div>
      <div class="header-container__top-authenticator">
        <!-- Header with no login -->

        <!-- <button type="button" class="button-signin">Đăng nhập</button>
        <button type="button" class="button-signup">Đăng ký</button> -->

        <button class="btn--filled" type="button">
          <div class="status-layer">
            <span>Đăng nhập</span>
          </div>
        </button>

        <button class="btn--filled sec" type="button">
          <div class="status-layer">
            <span>Đăng ký</span>
          </div>
        </button>

        <!-- Header with login -->

        <!-- <p>Chào,</p>
            <p>Giau Phan</p>
            <img src="../img/row-1-column-6.png" alt="" /> -->
      </div>
    </div>

    <div class="header-container__title">
      <h1>Cần nơi dừng chân</h1>
      <h1>Đến ngay 2WAYS.com</h1>
      <h3>Tìm phòng với giá ưu đãi nhất từ khách sạn, nhà nghỉ,...</h3>
    </div>

    <%- include('../components/search-bar.ejs') %>
  </div>
</header>
<!-- <script src="/scripts/header.js"></script> -->