<header>
  <div class="container">
    <div class="container__header--top">
      <div class="logo-img">
        <img src="/imgs/logo-white.png" alt="" />
      </div>
      <div class="container__nav--top">
        <ul>
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Thông báo</a></li>
        </ul>
      </div>
      <div class="top-authenticator">
        <!-- Header with no login -->

        <!-- <button type="button" class="button-signin">Đăng nhập</button>
        <button type="button" class="button-signup">Đăng ký</button> -->

        <button class="btn--filled" type="button">
          <div class="status-layer">
            <span>Đăng nhập</span>
          </div>
        </button>

        <button class="btn--filled sec" type="button">
          <div class="status-layer">
            <span>Đăng ký</span>
          </div>
        </button>

        <!-- Header with login -->

        <!-- <p>Chào,</p>
            <p>Giau Phan</p>
            <img src="../img/row-1-column-6.png" alt="" /> -->
      </div>
    </div>

    <div class="header--title">
      <h1>Cần nơi dừng chân</h1>
      <h1>Đến ngay 2WAYS.com</h1>
      <h3>Tìm phòng với giá ưu đãi nhất từ khách sạn, nhà nghỉ,...</h3>
    </div>

    <div class="main--search">
      <div class="search__wrapper">
        <div class="search-address">
          <span class="material-symbols-outlined"> location_on </span>
          <input class="input_address" type="text" placeholder="Nơi muốn đến" />
        </div>

        <div class="search-address" style="border-left: 1px solid #90a6b1">
          <span class="material-symbols-outlined"> calendar_month </span>
          <input
            class="input_address"
            type="text"
            placeholder="Ngày nhận - Ngày trả"
          />
        </div>

        <div class="search-address" style="border-left: 1px solid #90a6b1">
          <span class="material-symbols-outlined"> person </span>
          <input
            class="input_address"
            type="text"
            placeholder="1 người lớn - 0 trẻ em - 1 phòng"
            style="width: 250px"
          />
        </div>
      </div>

      <!-- <button class="button--submit">Tìm kiếm</button> -->
      <button class="button--submit btn--filled sec" type="submit">
        <div class="status-layer">
          <span>Tìm kiếm</span>
        </div>
      </button>
    </div>
  </div>
</header>