<<<<<<< HEAD
<nav class="nav-tree">
  <div class="nav-tree__container">
    <ul>
      <% nav_tree__data.forEach(function(item) { %>
      <li class="nav-tree__item">
        <a href="<%= item.link %>"><%= item.text %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</nav>
=======
<ul>
  <% items.forEach(function(item) { %>
  <li><%= item %></li>
  <% }) %>
</ul>
>>>>>>> 8bb79baab5f2e40a19bfc90b65834971d5ed9034
