@import url('/styles/base.css');
@import url("/styles/partials/header-small.css");

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
}

body {
    width: 100%;
    margin: 0;
}

.private__container p {
    text-align: justify;
}

.private__container ul {
    list-style-type: disc;
}

.private__container li {
    margin: 8px 0;
    line-height: 1.5;
    text-align: justify;
}

.private__container h2 {
    color: var(--dark-gray);
}

.private__container {
    width: 80%;
    max-width: 1152px;
    margin: 12px auto;
}

.private__header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-weight: 700;
}

.highlight {
    font-weight: bold;
}

.title {
    text-decoration: underline;
}

ul.private__info-none {
    list-style-type: none;
}