@import url("/styles/variables.css");
@import url("/styles/partials/header-small.css");
@import url("/styles/components/room-in-hs.css");
@import url("/styles/partials/footer.css");

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookinghistory--container {
    margin-top: 12px;
    margin-bottom: 12px;
    /* width: 80%; */
    width: 1152px;
    display: flex;
    gap: 12px;
}

.aside--wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #fff;
    height: 376px;
}

.aside--content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.aside--section {
    font-weight: 500;
}

.aside--section p {
    padding: 0 12px;
}

.aside--section p:nth-child(2) {
    background-color: #004f52;
    color: white;
    border-radius: 8px;
    padding: 12px;
}

.aside--wrapper img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.aside--item p {
    color: var(--material-theme-sys-light-error, #ba1a1a);
    font-weight: 500;
    padding-left: 12px;
}

.booking--history {
    padding: 24px;
    border: 1px solid #bec8c9;
    border-radius: 8px;
    width: 75%;
}
.booking--history--items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room__in__hs {
    height: 307px;
    width: 804px;
    display: flex;
    gap: 32px;
    background-color: white;
    border: 1px solid #bec8c9;
    border-radius: 8px;
    margin: 6px 0;
}

.room__in__hs_img img {
    height: 307px;
    width: 280px;
    border-radius: 8px;
}

.room__in__title {
    width: 546px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    justify-content: space-around;
}

.room__in__title h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.quantity__bed__guest {
    display: flex;
    font-weight: 500px;
    font-size: 22px;
    gap: 8px;
}

.quantity__bed__guest p {
    margin: 0;
    padding: 0;
}
.policy__price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.policy__room {
    display: flex;
    color: #00696d;
    gap: 8px;
}

.policy__room p {
    margin-top: 3px;
    font-weight: 500px;
}

.price__room {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price__room p {
    margin: 0;
    padding: 0;
}

.price__room .before-discount {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}

.price__room .after-discount {
    color: #fe9c0b;
    font-size: 28px;
    font-weight: 900;
}

.price__room .room-day {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 500;
}

.button-room__in__hs {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.form--submit1 {
    width: 206px;
    height: 48px;
    border-radius: 8px;
    color: white;
    background-color: #085457;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.form--submit2 {
    width: 206px;
    height: 48px;
    border-radius: 8px;
    color: white;
    background-color: #fe9c0b;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.page-link {
    color: black;
    font-weight: 500;
    background-color: rgba(0, 105, 109, 0.2);
    margin: 0 8px;
    border-radius: 4px;
}
