@import url("/styles/variables.css");
@import url("/styles/partials/header-small.css");
@import url("/styles/components/room-in-hs.css");
@import url("/styles/partials/footer.css");
html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paymentaccount--container {
    margin-top: 12px;
    margin-bottom: 12px;
    /* width: 80%; */
    width: 1152px;
    display: flex;
    gap: 12px;
}

hr {
    background-color: #bec8c9;
    border-width: 2px;
    width: 100%;
    margin: 12px;
    margin-left: 2px;
    opacity: none;
}

.aside--wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #fff;
    height: 450px;
}

.aside--content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.aside--section {
    font-weight: 500;
}

.aside--section p {
    padding: 12px;
    height: 48px;
}

.aside--section p:hover {
    border-radius: 8px;
    background-color: #d9d9d9;
    transition: 0.3s;
}

.aside--section p:nth-child(3) {
    background-color: #004f52;
    color: white;
    border-radius: 8px;
    padding: 12px;
}

.aside--wrapper img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.aside--item p {
    color: var(--material-theme-sys-light-error, #ba1a1a);
    font-weight: 500;
    padding-left: 12px;
}

.form--input {
    padding: 24px;
    border: 1px solid #bec8c9;
    border-radius: 8px;
    width: 75%;
}
.card--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.card--item {
    display: flex;
    gap: 30px;
    padding: 12px;
    flex-direction: column;
    height: 200px;
    width: 814px;
    border: 1px solid #bec8c9;
    border-radius: 8px;
}

.card--item h1 {
    font-size: 24px;
    font-weight: 600px;
}
.card--item h2 {
    font-size: 22px;
    font-weight: 500px;
    color: rgba(0, 0, 0, 0.38);
    text-align: center;
}
.debit-credit-card--submit {
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background-color: #085457;
    color: white;
    border: none;
    font-size: 16px;
}

.bank-account--submit {
    width: 251px;
    height: 48px;
    border-radius: 8px;
    background-color: #085457;
    color: white;
    border: none;
    font-size: 16px;
}

.debit-credit-card,
.bank-account {
    display: flex;
    justify-content: space-between;
}

.profileBtn,
.historyBtn,
.accountPaymentBtn,
.changePasswordBtn,
.logoutBtn {
    cursor: pointer;
}
