@import url('/styles/base.css');
@import url("/styles/partials/header-medium.css");
@import url("/styles/components/next-page.css");
@import url("/styles/components/noti-item-promo.css");

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
}

body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.nofi-container {
    width: 80%;
    max-width: 1152px;
    min-height: 60vh;
    padding: 0;
    margin: 12px auto;
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--outline-variant);
    background: #ffff;
}

.aside-wrapper hr {
    margin: 12px 0 12px 0;
}

.aside-wrapper__aside-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.aside-wrapper__aside-avatar {
    object-fit: contain;
    height: 64px;
    border-radius: 50%;
}

.aside-wrapper__aside-title {
    font-size: 16px;
    font-weight: 500;
}

.aside-wrapper__aside-title p {
    margin: 0;
}

.aside-wrapper__aside-section {
    display: inherit;
    flex-direction: column;
    gap: 12px;
}

.aside-wrapper__aside-section a {
    padding: 12px;
    margin: 0;
    width: 256px;
    font-weight: 500;
}

.aside-wrapper__aside-section a:hover {
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--gray);
    transition: 0.3s;
}

.aside-wrapper__aside-section a:nth-child(2) {
    background-color: var(--primary-color-1);
    color: white;
    border-radius: 8px;
}

.nofi__main {
    display: inherit;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 20px;
}

.noti--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

img.noti__img--empty {
    object-fit: contain;
    width: 15%;
}

button.btn--outlined.pri {
    padding: 0 24px 0 24px;
    font-weight: 500;
}

button.btn--filled.pri {
    padding: 0 24px 0 24px;
    font-weight: 500;
}

.nofi-empty__img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 32px;
    gap: 8px;
}

.nofi-empty__img img {
    object-fit: contain;
    width: 20%;
}