<div class="form__debit-detail-one">
  <img src="../../img/mastercard.png" alt="">
  <p class="name-bank">Vietcombank</p>
  <p class="phone-number">*0618</p>
  <p class="line-delete delete-btn">Xóa</p>
  <button class="filled-default">Mặc định</button>
</div>

<div class="form__debit-detail-one">
  <img src="../../img/mastercard.png" alt="">
  <p class="name-bank">Vietcombank</p>
  <p class="phone-number">*0618</p>
  <p class="line-delete delete-btn">Xóa</p>
  <button class="unfilled-default">Thiết lập mặc định</button>
</div>