<div class="comment-wrapper">
    <div class="comment-wrapper__profile">
        <img src="/imgs/milo.jpg" alt="avatar" />
        <p><%= accoRoomRating[0].au_user_name %></p>
    </div>
    <p class="comment-wrapper__comment">
        <%- accoRoomRating[0].rating_context %>
    </p>
    <div class="comment-wrapper__point-day">
        <p class="comment-wrapper__point"><%= accoRoomRating[0].rating_point %>/5</p>
        <p><%= accoRoomRating[0].rating_datetime %></p>
    </div>
</div>