<div class="comment--wrapper">
  <div class="comment--profile">
    <img src="/img/row-1-column-6.png" alt="" />
    <p>An An</p>
  </div>
  <p>
    Dịch vụ rất tốt, chăm sóc chu đáo phục vụ tận tình. Dịch vụ rất tốt, chăm
    sóc chu đáo phục vụ tận tình. Dịch vụ rất tốt, chăm sóc chu đáo phục vụ tận
    tình. Dịch vụ rất tốt, chăm sóc chu đáo phục vụ tận tình. Dịch vụ rất tốt,
    chăm sóc chu đáo phục vụ tận tình. Dịch vụ rất tốt, chăm sóc chu đáo phục vụ
    tận tình. Dịch vụ rất tốt, chăm sóc chu đáo phục vụ tận tình.
  </p>
  <div class="point--day">
    <p class="point">7/10</p>
    <p>14/10/2023</p>
  </div>
</div>
