<!-- Co inline form_item Ma cvv -->
<div class="modal2">credit__info
  <div class="credit-container">
    <form class="credit" id="credit-js" action="/account/card/addDebit" method="POST">
      <div class="credit__card">
        <h1>Thêm thẻ tín dụng/ghi nợ</h1>
        <div class="credit__secure">
          <div class="credit__icon">
            <span class="material-symbols-outlined">beenhere </span>
          </div>
          <div class="credit__info">
            <p class="credit__info-title">Thông tin thẻ của bạn được bảo mật.</p>
            <p class="credit__info-text">
              Chúng tôi hợp tác với CyberSource để đảm bảo thông tin thẻ của bạn
              được an toàn và bảo mật tuyệt đối. Shopee sẽ không được cấp quyền
              truy cập vào thông tin thẻ của bạn.
            </p>
          </div>
        </div>
        <div class="credit__details">
          <h2>Chi tiết thẻ</h2>
          <div class="credit__img">
            <a href="#"><img class="credit__logo" src="/imgs/visa.png" alt="visa" /></a>
            <a href="#"><img class="credit__logo" src="/imgs/master-card.png" alt="credit-card" /></a>
            <a href="#"><img class="credit__logo" src="/imgs/jcb.jpg" alt="jcb" /></a>
          </div>
        </div>

        <div class="form">
          <div class="form__item">
            <h3>Số thẻ:</h3>
            <input name="debit_num" class="form-control" type="text" placeholder="Nhập số thẻ" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
          </div>
          <!-- form__item-2 -->
          <div class="form__item">
            <div class="form__item-2__date">
              <h3 class="input-1">Ngày hết hạn:</h3>
              <input name="debit_end_date" class="form-control" type="date" placeholder="mm/yyyy" />
            </div>

            <div class="form__item-2__CCV">
              <h3 class="input-2">Mã CCV:</h3>
              <input name="debit_CCV" class="form-control" type="text" placeholder="Nhập mã CCV" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
            </div>
          </div>
          <div class="form__item">
            <h3>Họ và tên chủ thẻ:</h3>
            <input name="debit_name" class="form-control" type="text" placeholder="Nhập họ và tên chủ thẻ" />
          </div>
        </div>
        <h2>Địa chỉ đăng ký thẻ tín dụng/ghi nợ</h2>
        <div class="form">
          <div class="form__item">
            <h3>Địa chỉ:</h3>
            <input name="debit_address" class="form-control" type="text" placeholder="Nhập địa chỉ" />
          </div>
          <div class="form__item">
            <h3>Mã bưu chính:</h3>
            <input name="debit_postal" class="form-control" type="text" placeholder="Nhập mã bưu chính" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
          </div>
        </div>
        <div class="credit__button">
          <button class="credit-button--submit1 closeBtn2" type="button">Hủy</button>

          <button class="credit-button--submit2" type="submit">Hoàn thành</button>
        </div>
        <div class="credit__close-btn">
          <span class="material-symbols-outlined closeIcon2">cancel</span>
        </div>
      </div>
    </form>
  </div>
</div>