<div class="fail-modal">
	<div class="fail-modal__background"></div>
	<div class="fail-modal__content">
		<img src="/imgs/fail.png" alt="Không hợp lệ">
		<h3><%= action %> không hợp lệ</h3>
	</div>
</div>