<div class="noti-item__block">
    <img src="/imgs/avatar.png" alt="img" class="noti-item__img">
    <div class="noti-item__main">
        <div>
            <p class="noti-item__title">CẬP NHẬT MẬT KHẨU</p>
        <p class="noti-item__sub-title">Bạn vừa cập nhật mật khẩu thành công. Hãy đảm bảo rằng hành động này được thực hiện bởi bạn.</p>
        </div>
        <div class="noti-item__info">
            <div class="noti-item__date-time">
                <p class="noti-item__time">14:12</p>
                <p class="noti-item__date">11/11/2023</p>
            </div>
            <button class="btn--outlined pri popup-btn" type="submit">Xem chi tiết</button>
            <div class="popup">
            <div class="popup__main">
                <div class="close-btn">
                    <span class="material-symbols-outlined">cancel</span>
                </div>
                <div class="popup__content-main">
                    <div class="popup__content--left">
                        <img src="/imgs/avatar.png" alt="img" class="popup__img">
                        <div class="timeline">
                            <ul>
                                <li class="in-view"></li>
                                <li class="in-view"></li>
                                <li class="in-view"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="popup__content--right">
                        <div class="popup__content-title">
                            <p class="popup__title">CẬP NHẬT MẬT KHẨU</p>
                            <p class="popup_sub-tittle">Bạn vừa cập nhật mật khẩu thành công. Hãy đảm bảo rằng hành động này được thực hiện bởi bạn.</p>
                        </div>
                        <div class="popup__details">
                            <p class="popup__details-title">Hành động</p>
                            <p class="popup__details-content">Nội dung</p>
                            <div class="noti-item__date-time">
                                <p class="noti-item__time">14:12</p>
                                <p class="noti-item__date">11/11/2023</p>
                            </div>
                        </div>
                        <div class="popup__details">
                            <p class="popup__details-title">Hành động</p>
                            <p class="popup__details-content">Nội dung</p>
                            <div class="noti-item__date-time">
                                <p class="noti-item__time">14:12</p>
                                <p class="noti-item__date">11/11/2023</p>
                            </div>
                        </div>
                        <div class="popup__details">
                            <p class="popup__details-title">Hành động</p>
                            <p class="popup__details-content">Nội dung</p>
                            <div class="noti-item__date-time">
                                <p class="noti-item__time">14:12</p>
                                <p class="noti-item__date">11/11/2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
