<div class="noti-item__block">
    <img src="/imgs/promotion/img.png" alt="img" class="noti-item__img">
    <div class="noti-item__main">
        <div>
            <p class="noti-item__title">HÈ THẢ GA CÙNG 2WAYS</p>
        <p class="noti-item__sub-title">Tận hưởng mùa hè sôi động của bạn với những ưu đãi lớn nhất từ 2WAYS Vũng Tàu, đặt phòng ngay!!!</p>
        </div>
        <div class="noti-item__info">
            <div class="noti-item__date-time">
                <p class="noti-item__time">14:12</p>
                <p class="noti-item__date">11/11/2023</p>
            </div>
            <div class="noti-item__button">
                <button class="btn--outlined pri popup-btn" type="submit">Xem chi tiết</button>
                <button class="btn--filled pri btn-use" type="submit">Dùng ngay</button>
            </div>
            <div class="popup">
            <div class="popup__main">
                <div class="popup__content-main">
                    <div class="popup__content-title">
                        <div class="popup--top">
                            <p class="popup__title">HÈ THẢ GA CÙNG 2WAYS</p>
                            <div class="close-btn">
                                <span class="material-symbols-outlined">cancel</span>
                            </div>
                        </div>
                        <div class="noti-item__date-time">
                            <p class="noti-item__time">14:12</p>
                            <p class="noti-item__date">11/11/2023</p>
                        </div>
                        <p class="popup__sub-title">Tận hưởng mùa hè sôi động của bạn với những ưu đãi lớn nhất từ 2WAYS Vũng Tàu, đặt phòng ngay!!!</p>
                    </div>
                    <img src="/imgs/promotion/banner.png" alt="banner" class="popup__img">
                    <div class="popup__content">
                        <p>Bà Rịa - Vũng Tàu nằm gần TP HCM, thị trường nguồn gửi khách đi nhiều nhất 
                            cả nước, nên di chuyển thuận lợi, phù hợp với xu hướng lựa chọn chuyến đi ngắn ngày
                             vào cuối tuần của du khách.</p>
                        <p>TP Vũng Tàu phù hợp với nhóm khách có mức chi tiêu trung bình. 
                            Trong thời gian nghỉ hè, địa phương còn tổ chức đa dạng các hoạt động vui chơi, giải trí 
                            mới mẻ nhằm thu hút du khách.</p>
                    </div>
                    <img src="/imgs/promotion/banner.png" alt="banner" class="popup__img">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
