<div class="modal-otp">
    <div class="otp-container">
        <section class="otp">
            <div class="otp__card">
                <h1>Xác thực OTP</h1>
                <p class="otp__notice">Mã OTP đã được gửi đến số điện thoại của bạn!</p>
                <div class="otp__card-input">
                    <input type="text" class="form-control otp__card-text" maxlength="1">
                    <input type="text" class="form-control otp__card-text" maxlength="1">
                    <input type="text" class="form-control otp__card-text" maxlength="1">
                    <input type="text" class="form-control otp__card-text" maxlength="1">
                    <input type="text" class="form-control otp__card-text" maxlength="1">
                    <input type="text" class="form-control otp__card-text" maxlength="1">
                </div>
                <p class="otp__reject">Không nhận được OTP?
                    <a class="retry" href="#">Gửi lại OTP</a>
                </p>
                <div class="otp__button">
                    <button class="otp__button--submit1">Hủy</button>

                    <button class="otp__button--submit2">Tiếp tục</button>
                </div>
                <div class="otp__close-btn">
                    <span class="material-symbols-outlined">cancel</span>
                </div>
            </div>
        </section>
    </div>
</div>