<div class="room">
    <h2 class="room__type">Phòng hạng sang</h2>
    <div class="room__detail">
        <div class="room__detail--left">
            <img src="/imgs/details/1.jpg" alt="" class="room__preview">
            <div class="room__area">
                <span class="material-symbols-outlined">square_foot</span>
                <p>50 m<sup>2</sup></p>
            </div>
            <div class="room__feature">
                <button type="button" class="btn">Máy lạnh</button>
                <button type="button" class="btn">Bồn tắm</button>
            </div>
        </div>

        <div class="room__detail--right">
            <div class="room__title">
                <h2>Phòng Deluxe giường đôi nhìn ra biển</h2>
                <div>
                    <span class="material-symbols-outlined">remove</span>
                    <input type="number" class="form-control" placeholder="0">
                    <span class="material-symbols-outlined">add</span>
                </div>
            </div>
            <div class="room__content">
                <div class="room__content--left">
                    <div>
                        <span class="material-symbols-outlined">king_bed</span>
                        <p>1 giường đôi</p>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">king_bed</span>
                        <p>1 giường đôi</p>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">king_bed</span>
                        <p>1 giường đôi</p>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">king_bed</span>
                        <p>1 giường đôi</p>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">king_bed</span>
                        <p>1 giường đôi</p>
                    </div>
                </div>
                <div class="room__content--mid">
                    <div>
                        <span class="material-symbols-outlined">groups</span>
                        <p>2 khách</p>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">help</span>
                        <a href="#">Chính sách hủy phòng</a>
                    </div>
                </div>
                <div class="room__content--right">
                    <p class="room__left">(5 phòng trống)</p>
                    <p class="room__origin-price"><del>VND 2.500.000</del></p>
                    <p class="room__price">VND 500.000</p>
                    <p class="room__unit">/phòng/đêm</p>
                    <a class="btn" href="#" role="button">Xem chi tiết phòng</a>
                </div>
            </div>
        </div>
    </div>
</div>