<div class="result-block">
  <div class="result-block__tag-sale">
    <span class="material-symbols-outlined">alarm</span>
    <p class="result-block__sale-content">Đặt chỗ cùng 2WAYS</p>
    <p class="result-block__sale-valid">Khuyến mãi có thời hạn</p>
  </div>

    <div class="result-block__main-container">
        <div class="result-block__main">
            <img src="/imgs/branchs/apartment.png" alt="apartment" class="result-block__picture">
            <div class="result-block__content">
                <p class="result-block__name"><%=acco.acco_name%></p>
                <!-- Đánh giá 5 sao -->
                <div class="result-block__rate-star">
                    <span class="material-symbols-outlined">grade</span>
                    <span class="material-symbols-outlined">grade</span>
                    <span class="material-symbols-outlined">grade</span>
                    <span class="material-symbols-outlined">grade</span>
                    <span class="material-symbols-outlined">grade</span>
                </div>
                <div class="result-block__extensions">
                    <a href="https://www.google.com/maps/place/<%=acco.acco_coordinates%>" target = "blank" class="result-block__map">Xem trên bản đồ</a>
                    <div class="result-block__details">
                        <span class="material-symbols-outlined">beach_access</span>
                        <p class="result-block__details-content">Giáp biển</p>
                    </div>
                    <div class="result-block__details">
                        <p class="result-block__details-content">Cách trung tâm 3.1km</p>
                    </div>
                </div>
                <div class="result-block__room-details">
                    <p class="result-block__room-detais__content">Phòng Deluxe giường đôi nhìn ra biển</p>
                    <p>1 giường đôi</p>
                    <div class="result-block__room-detais__cancel-policy">
                        <span class="material-symbols-outlined">check</span>
                        <p class="cancel-policy__content">Miễn phí hủy</p>
                    </div>
                    <div class="result-block__room-detais__cancel-policy">
                        <span class="material-symbols-outlined">check</span>
                        <p class="cancel-policy__content">Không cần thanh toán trước</p>
                        <p class="cancel-policy__sub-content">- thanh toán tại chỗ</p>
                    </div>
                    <p class="result-block__room-detais__hot-sale">Chỉ còn duy nhất 1 phòng có giá này trên trang!!!</p>
                </div>
            </div>
        </div>
        <div class="result-block__infor">
            <div class="result-block__cus-rate">
                <div class="result-block__cus-rate__content">
                    <p class="result-block__cus-rate__main-content">Trên cả tuyệt vời</p>
                    <p class="result-block__cus-rate__sub-content">118 đánh giá</p>
                </div>
                <div class="result-block__cus-rate__point">
                    <p>10</p>
                </div>
            </div>
            <div class="result-block__price">
                <p class="result-block__option">1 đêm, 2 người lớn</p>
                <p class="result-block__origin-price">VND 1.350.000</p>
                <p class="result-block__discount-price">VND 1.180.000</p>
                <label for="result-block__discount-price" class="result-block__label">Đã gồm thuế và phí</label>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href= "/search/<%=acco.acco_id%>" id="select-button" type="submit" class="btn form__submit">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="result-block__room-details">
          <p class="result-block__room-detais__content">Phòng Deluxe giường đôi nhìn ra biển</p>
          <p>1 giường đôi</p>
          <div class="result-block__room-detais__cancel-policy">
            <span class="material-symbols-outlined">check</span>
            <p class="cancel-policy__content">Miễn phí hủy</p>
          </div>
          <div class="result-block__room-detais__cancel-policy">
            <span class="material-symbols-outlined">check</span>
            <p class="cancel-policy__content">Không cần thanh toán trước</p>
            <p>-</p>
            <p class="cancel-policy__sub-content">thanh toán tại chỗ</p>
          </div>
          <p class="result-block__room-detais__hot-sale">Chỉ còn duy nhất 1 phòng có giá này trên trang!!!</p>
        </div>
      </div>
    </div>
    <div class="result-block__infor">
      <div class="result-block__cus-rate">
        <div class="result-block__cus-rate__content">
          <p class="result-block__cus-rate__main-content">Trên cả tuyệt vời</p>
          <p class="result-block__cus-rate__sub-content">118 đánh giá</p>
        </div>
        <div class="result-block__cus-rate__point">
          <p>10</p>
        </div>
      </div>
      <div class="result-block__price">
        <p class="result-block__option">1 đêm, 2 người lớn</p>
        <p class="result-block__origin-price">VND 1.350.000</p>
        <p class="result-block__discount-price">VND 1.180.000</p>
        <label for="result-block__discount-price" class="result-block__label">Đã gồm thuế và phí</label>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button id="select-button" type="submit" class="btn form__submit">Xem ngay</button>
        </div>
      </div>
    </div>
  </div>


</div>