<div class="nresult-block__main-container">
  <div class="nresult-block__main">
    <img src="/imgs/branchs/apartment.png" alt="apartment" class="nresult-block__picture">
    <div class="nresult-block__content">
      <p class="nresult-block__name"><%= result.acco_name %></p>
      <!-- Đánh giá 5 sao -->
      <div class="nresult-block__rate-star">
        <% result.forEach (function(stars){ %>
          <span class="material-symbols-outlined">star</span>
          <% }) %>
        <!-- <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span>
        <span class="material-symbols-outlined">grade</span> -->
      </div>
      <div class="nresult-block__extensions">
        <a href="h#" target="blank" class="nresult-block__map">Xem trên bản đồ</a>
        <div class="nresult-block__details">
          <span class="material-symbols-outlined">beach_access</span>
          <p class="nresult-block__details-content">Giáp biển</p>
        </div>
        <div class="nresult-block__details">
          <p class="nresult-block__details-content">Cách trung tâm 3.1km</p>
        </div>
      </div>
      <div class="nresult-block__room-details">
        <p class="nresult-block__room-detais__content">Phòng Deluxe giường đôi nhìn ra biển</p>
        <p><%= result.room_max_adult> người lớn</p>
        <div class="nresult-block__room-detais__cancel-policy">
          <span class="material-symbols-outlined">check</span>
          <p class="ncancel-policy__content">Miễn phí hủy</p>
        </div>
        <div class="nresult-block__room-detais__cancel-policy">
          <span class="material-symbols-outlined">check</span>
          <p class="ncancel-policy__content">Không cần thanh toán trước</p>
          <p class="ncancel-policy__sub-content">- thanh toán tại chỗ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="nresult-block__infor">
    <div class="nresult-block__cus-rate">
      <div class="nresult-block__cus-rate__content">
        <p class="nresult-block__cus-rate__main-content">Trên cả tuyệt vời</p>
        <p class="nresult-block__cus-rate__sub-content"><%= result.room_count_rating %> đánh giá</p>
      </div>
      <div class="nresult-block__cus-rate__point">
        <p>10</p>
      </div>
    </div>
    <div class="nresult-block__price">
      <p class="nresult-block__option">1 đêm, 2 người lớn</p>
      <p class="nresult-block__origin-price">VND 1.350.000</p>
      <label for="nresult-block__origin-price" class="result-block__label">Đã gồm thuế và phí</label>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="#" id="select-button" type="submit" class="btn form__submit">Xem ngay</a>
      </div>
    </div>
  </div>
</div>